{{ define "main" }}

<div class="page">
  <div class="container">
    <p><strong>{{ .Title }}</strong></p>
    <div>Primary</div>
    <div class="bg-primary lighter text-white">Lighter</div>
    <div class="bg-primary light text-white">Light</div>
    <div class="bg-primary text-white">Default</div>
    <div class="bg-primary dark text-white">Dark</div>
    <div class="bg-primary darker text-white">Darker</div>

    <div>Success</div>
    <div class="bg-success lighter text-white">Lighter</div>
    <div class="bg-success light text-white">Light</div>
    <div class="bg-success text-white">Default</div>
    <div class="bg-success dark text-white">Dark</div>
    <div class="bg-success darker text-white">Darker</div>

    <div>Info</div>
    <div class="bg-info lighter text-white">Lighter</div>
    <div class="bg-info light text-white">Light</div>
    <div class="bg-info text-white">Default</div>
    <div class="bg-info dark text-white">Dark</div>
    <div class="bg-info darker text-white">Darker</div>

    <div>Warning</div>
    <div class="bg-warning lighter text-white">Lighter</div>
    <div class="bg-warning light text-white">Light</div>
    <div class="bg-warning text-white">Default</div>
    <div class="bg-warning dark text-white">Dark</div>
    <div class="bg-warning darker text-white">Darker</div>

    <div>Danger</div>
    <div class="bg-danger lighter text-white">Lighter</div>
    <div class="bg-danger light text-white">Light</div>
    <div class="bg-danger text-white">Default</div>
    <div class="bg-danger dark text-white">Dark</div>
    <div class="bg-danger darker text-white">Darker</div>

    <div>Alert</div>
    <div class="bg-alert lighter text-white">Lighter</div>
    <div class="bg-alert light text-white">Light</div>
    <div class="bg-alert text-white">Default</div>
    <div class="bg-alert dark text-white">Dark</div>
    <div class="bg-alert darker text-white">Darker</div>

    <div>System</div>
    <div class="bg-system lighter text-white">Lighter</div>
    <div class="bg-system light text-white">Light</div>
    <div class="bg-system text-white">Default</div>
    <div class="bg-system dark text-white">Dark</div>
    <div class="bg-system darker text-white">Darker</div>

    <div>Light</div>
    <div class="bg-light lighter text-white">Lighter</div>
    <div class="bg-light light text-white">Light</div>
    <div class="bg-light text-white">Default</div>
    <div class="bg-light dark text-white">Dark</div>
    <div class="bg-light darker text-white">Darker</div>

    <div>Dark</div>
    <div class="bg-dark lighter text-white">Lighter</div>
    <div class="bg-dark light text-white">Light</div>
    <div class="bg-dark text-white">Default</div>
    <div class="bg-dark dark text-white">Dark</div>
    <div class="bg-dark darker text-white">Darker</div>

    <div>TPC Red</div>
    <div class="bg-red lighter text-white">Lighter</div>
    <div class="bg-red light text-white">Light</div>
    <div class="bg-red text-white">Default</div>
    <div class="bg-red dark text-white">Dark</div>
    <div class="bg-red darker text-white">Darker</div>

    <div>TPC Gray</div>
    <div class="bg-gray lighter text-white">Lighter</div>
    <div class="bg-gray light text-white">Light</div>
    <div class="bg-gray text-white">Default</div>
    <div class="bg-gray dark text-white">Dark</div>
    <div class="bg-gray darker text-white">Darker</div>

    <div>TPC Green</div>
    <div class="bg-green lighter text-white">Lighter</div>
    <div class="bg-green light text-white">Light</div>
    <div class="bg-green text-white">Default</div>
    <div class="bg-green dark text-white">Dark</div>
    <div class="bg-green darker text-white">Darker</div>

    <div>TPC Blue</div>
    <div class="bg-blue lighter text-white">Lighter</div>
    <div class="bg-blue light text-white">Light</div>
    <div class="bg-blue text-white">Default</div>
    <div class="bg-blue dark text-white">Dark</div>
    <div class="bg-blue darker text-white">Darker</div>

    <div>TPC Beige</div>
    <div class="bg-beige lighter text-white">Lighter</div>
    <div class="bg-beige light text-white">Light</div>
    <div class="bg-beige text-white">Default</div>
    <div class="bg-beige dark text-white">Dark</div>
    <div class="bg-beige darker text-white">Darker</div>

  </div>
</div>

{{ end }}
