{{ define "main" }}

<div class="page">

  <section class="section-powered-by-pyramid">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="title text-red">Powered by Pyramid</h1>
          <p>The following entities are proud to be Powered by Pyramid. To add your company, organization, application,
            or website to this list, see <a href="https://github.com/Pylons/trypyramid.com/blob/master/CONTRIBUTING.md#adding-your-company-organization-application-or-website-to-powered-by-pyramid-page">Adding your company, organization, application, or website to "Powered by Pyramid" page in CONTRIBUTING.md</a> in this project's repository.</p>
          <p>You can also add "Powered by Pyramid" buttons or Pyramid logos to your website. See
            <a href="community-artwork.html">Artwork</a>.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section-companies-organizations">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-red">Companies and Organizations</h2>
          <p>These companies and organizations use Pyramid in their operations, and may have open jobs for Pyramid
            developers.</p>
          <div class="grid community">
            {{ .Scratch.Set "name" "orgs" }}
            {{ partial "powered-by.html" . }}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-applications">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-red">Applications</h2>
          <p>The following are free and libre open source software, demonstrating the wide variety of applications that
            can be Powered by Pyramid. You can view the source code and apply concepts to your own Pyramid projects, or
            deploy your own instance of the application.</p>
          <div class="grid community">
            {{ .Scratch.Set "name" "apps" }}
            {{ partial "powered-by.html" . }}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-websites">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-red">Websites</h2>
          <p>The following are websites reported as being Powered by Pyramid. Except as noted, the source code is not
            available to the public.</p>
          <div class="grid community">
            {{ .Scratch.Set "name" "websites" }}
            {{ partial "powered-by.html" . }}
          </div>


          <h3 class="text-red">Websites based on Kotti</h3>
          <p><a href="https://kotti.readthedocs.io/en/latest/">Kotti</a> is a high-level, Pythonic web application
            framework based on Pyramid and SQLAlchemy. It includes an extensible Content Management System called the
            Kotti CMS.</p>
          <div class="grid community">
            {{ .Scratch.Set "name" "kotti" }}
            {{ partial "powered-by.html" . }}
          </div>

        </div>
      </div>
    </div>
  </section>

</div>

{{ end }}
