{{ define "main" }}

<div class="page">

  <section class="section-content">
    <div class="container-fluid container-md">
      <h1 class="title text-red">Feeds</h1>
      <p>Subscribe to the Google Group, <a
          href="https://groups.google.com/forum/#!forum/pylons-discuss">pylons-discuss</a>.
        Follow us on Twitter <a href="https://twitter.com/PylonsProject">@PylonsProject</a>. Chat with us in
        <a href="https://web.libera.chat/#pyramid">#pyramid on IRC</a>.
      </p>
      <div class="row">
        <div class="col">
          <h3 class="title text-red"><span class="fa fa-google fa-2x"></span> Google Group</h3>
          <p>Visit <a href="https://groups.google.com/forum/#!forum/pylons-discuss">pylons-discuss</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3 class="title text-red"><span class="fa fa-twitter fa-2x"></span> Twitter</h3>
          <div class="col-md-8 col-md-offset-2">
            <a href="https://twitter.com/PylonsProject" class="twitter-timeline" data-height="800">Tweets by
              PylonsProject</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3 class="title text-red"><span class="fa fa-hashtag fa-2x"></span> Internet Relay Chat (IRC)</h3>
          <iframe src="https://web.libera.chat/#pyramid" style="border:0;" width="100%" height="500"></iframe>
        </div>
      </div>
    </div>
  </section>

</div>

{{ end }}
