{{ define "main" }}

<div class="page">
  <section class="section-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="title text-red">Extending Pyramid</h1>
          <p>Pyramid may be extended through add-ons and development environments. The Python Package Index trove
            classifier "<a href="https://pypi.org/search/?q=&o=&c=Framework+%3A%3A+Pyramid">Framework :: Pyramid</a>" is
            used by over 470 packages. Support may be "official" by the Pylons Project or "unofficial" by the community.
          </p>
          <p>All projects under the Pylons Project have 100% test coverage and 100% documentation.</p>
          <p>An "add-on" is a package which relies on Pyramid itself and extends the functionality of Pyramid, such as
            adding an ORM, sending email, or using a template-based language. If your add-on does not rely on Pyramid,
            it's not an add-on, but just a library, and it will not be listed on the Extending Pyramid page.
            Official Pylons Project libraries may be listed.</p>
          <p>"Development environments" are a special category of packages which use Pyramid as a core, but offer
            alternative services and scaffolding to ease web application development. Some could be labeled "content
            management system" or "admin interface". Development environments often have dependencies beyond those of
            the Pyramid core.</p>
          <h3>Contributing add-ons</h3>
          <p>Add-ons may be created and shared wherever you like. Pylons Project supported add-ons must be under its <a
              href="https://github.com/Pylons/">GitHub organization account</a>, and comply with guidelines for <a
              href="https://pylonsproject.org/community-how-to-contribute.html">How to Contribute Source Code and
              Documentation</a>, <a href="https://pylonsproject.org/community-coding-style-standards.html">Coding Style
              and Standards</a>, and <a href="https://pylonsproject.org/community-unit-testing-guidelines.html">Unit
              Testing Guidelines</a>. All Pylons Project participants should strive to follow our <a
              href="https://pylonsproject.org/community-code-of-conduct.html">Code of Conduct</a>.</p>
          <p>To add your project to the listing, see <a href="https://github.com/Pylons/trypyramid.com/blob/master/CONTRIBUTING.md#adding-an-add-on-to-extending-pyramid-page">Adding an add-on to "Extending Pyramid" page in CONTRIBUTING.md</a>.</p>
          <div class="extending-filters">
            <select class="filter-multiselect" multiple="multiple">
              <optgroup label="Support">
                <option value="support-pylons">Pylons Project</option>
                <option value="support-community">Community</option>
                <option value="support-unsupported">Unsupported</option>
              </optgroup>
              <optgroup label="Add-On">
                <option value="addon-yes">Yes</option>
                <option value="addon-no">No</option>
              </optgroup>
              <optgroup label="Category">
                <option value="category-api">API</option>
                <option value="category-asset-management">Asset Management</option>
                <option value="category-async">Async</option>
                <option value="category-authentication">Authentication</option>
                <option value="category-authorization">Authorization</option>
                <option value="category-caching-and-sessions">Caching and Sessions</option>
                <option value="category-configuration">Configuration</option>
                <option value="category-debugging">Debugging</option>
                <option value="category-development-environment">Development Environment</option>
                <option value="category-documentation">Documentation</option>
                <option value="category-email">Email</option>
                <option value="category-file-management">File Management</option>
                <option value="category-forms">Forms</option>
                <option value="category-internationalization-i18n">Internationalization (I18N)</option>
                <option value="category-logging">Logging</option>
                <option value="category-media-management">Media Management</option>
                <option value="category-monitors">Monitors</option>
                <option value="category-renderers">Renderers</option>
                <option value="category-requests">Requests</option>
                <option value="category-routes">Routes</option>
                <option value="category-scaffolds">Scaffolds</option>
                <option value="category-search">Search</option>
                <option value="category-services">Services</option>
                <option value="category-sessions">Sessions</option>
                <option value="category-storage">Storage</option>
                <option value="category-task-queueing">Task Queueing</option>
                <option value="category-template-languages">Template Languages</option>
                <option value="category-testing">Testing</option>
                <option value="category-url-shorteners-and-managers">URL Shorteners and Managers</option>
                <option value="category-user-interface-and-user-experience-ui-and-ux">User Interface and User Experience
                  (UI/UX)</option>
                <option value="category-web-page-utilities">Web Page Utilities</option>
                <option value="category-wsgi-servers">WSGI Servers</option>
              </optgroup>
            </select>
          </div>
          <div class="grid">
            {{ partial "addons.html" . }}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{{ end }}
