<%- include partials/top %>

<div class="page">

  <section class="section-content">
    <div class="container">
      <h1 class="title text-red">Enter the Tomb</h1>
      <p>The community around the Pyramid web framework contributes to and
        participates in its development, support, and good will. Pyramid is a
        free and open source software project. Mummies and pharaohs are
        welcome.</p>

      <div class="row">
        <div class="col-sm-4">
          <h2 class="title text-red">Help</h2>
          <p>How to ask questions and get answers.</p>
          <dl>
            <dt>
              <a href="http://pylonsproject.org/community-how-to-participate.html">
                Guidelines
              </a>
            </dt>
            <dd>
              <p>Pyramid follows the general
                <a href="http://pylonsproject.org/community-how-to-participate.html">guidelines</a>
                under the Pylons Project for support, including the
                <a href="http://pylonsproject.org/community-code-of-conduct.html">code of conduct</a>.</p>
            </dd>
            <dt class="text-red">
                Support
            </dt>
            <dd>
              <p>Development questions related to Pyramid can be discussed on the
                <a href="https://groups.google.com/forum/#!forum/pylons-discuss">pylons-discuss
                  mail list</a>.
              </p>
              <p>Developers may be available on the
                <a href="https://webchat.freenode.net/?channels=%23pyramid&uio=d4">#pyramid</a>
                channel on the Freenode IRC Network.</p>
            </dd>
          </dl>
        </div>
        <div class="col-sm-4">
          <h2 class="title text-red">Participate</h2>
          <p>How to contribute to Pyramid.</p>
          <dl>
            <dt class="text-red">
                Security Issues
            </dt>
            <dd>
              <p>To report security issues with Pyramid, send email to
                <a href="mailto:pylons-project-security@googlegroups.com">pylons-project-security@googlegroups.com</a></p>
            </dd>
            <dt class="text-red">
                General Issues
            </dt>
            <dd>
              <p>Report <a href="https://github.com/Pylons/pyramid/issues">general issues</a> on GitHub.</p>
            </dd>
            <dt>
              <a href="https://github.com/Pylons/pyramid/blob/master/contributing.md">
                Contributing
              </a>
            </dt>
            <dd>
              <p>Pyramid has specific guidelines for <a href="https://github.com/Pylons/pyramid/blob/master/contributing.md">
                  contributing code and documentation</a>, including tests and
                adding your name to the contributors agreement.</p>
            </dd>
          </dl>
        </div>
        <div class="col-sm-4">
          <h2 class="title text-red">Publications</h2>
          <p>A few of the mummies and pharaohs who publish articles and podcasts about Pyramid.</p>
          <ul>
            <li><a href="http://plope.com/">Chris McDonough</a></li>
            <li><a href="http://be.groovie.org/categories/python.html">Ben Bangert</a></li>
            <li><a href="http://blog.nonsequitarian.org/">Rob Miller</a></li>
            <li><a href="http://cd34.com/blog/category/framework/">Chris Davies</a></li>
            <li><a href="http://pieceofpy.com/category/python/">Wayne Witzel III</a></li>
            <li><a href="http://michael.merickel.org/">Michael Merickel</a></li>
            <li><a href="http://www.stevepiercy.com/tag/pyramid.html">Steve Piercy</a></li>
            <li><a href="https://metaclassical.com/">Jon Rosebaugh</a></li>
            <li><a href="http://blog.delaguardia.com.mx/">Carlos de la Guardia</a></li>
            <li><a href="https://talkpython.fm/episodes/show/3/pyramid-web-framework">Michael Kennedy/Talk Python to Me</a></li>
            <li><a href="https://www.podcastinit.com/episode-86-kinto-with-alexis-metaireau-and-mathieu-leplatre/">Podcast.__init__</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

</div>

<%- include partials/bottom %>

