<%- include partials/top %>

<div class="page">

  <section class="section-content">
    <div class="container">
      <h1 class="title text-red">Powered by Pyramid</h1>
      <p>Three categories:</p>
      <ul>
        <li>Companies and Organizations</li>
        <li>Applications: open source software</li>
        <li>Websites</li>
      </ul>

      <h3>Schema</h3>
      <pre><code>id: integer
name: string
description: string
category: string
logo: string
projectUrl: string
demoUrl: string
pypiUrl: string
vcsUrl: string</code></pre>
      <p><em>The following paragraphs need to fit better with the page or be removed.</em></p>
      <h4>Applications</h4>
      <p>This list of open source software demonstrates the wide variety of applications that can be Powered by Pyramid. You can view the source code and apply concepts to your own Pyramid projects, or deploy your own instance of the application.</p>
      <h4>Websites</h4>
      <p>This is a list of websites reported as being Powered by Pyramid. Except as noted, the source code is not available to the public.</p>
    </div>
  </section>



  <section class="section-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">


          <div class="grid">

            <div class="grid-item col-xs-12 col-sm-6 col-md-4 pyramid-item support-pylons category-authentication addon-yes">
              <div class="grid-item-content">
                <h4>pyramid_ldap</h4>
                <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=300%C3%97300&w=300&h=300" class="img-responsive">
                <div class="addon-description">An LDAP authentication policy for Pyramid.</div>
                <div class="addon-maintainers">Maintainers: Chris McDonough</div>
                <span class="addon-pypiUrl"><a href="https://pypi.python.org/pypi/pyramid_ldap">PyPI</a></span>
                <span class="addon-vcsUrl"><a href="https://github.com/Pylons/pyramid_ldap">VCS</a></span>
                <span class="addon-docsUrl"><a href="http://docs.pylonsproject.org/projects/pyramid-ldap/en/latest/">docs</a></span>
              </div>
            </div>

            <div class="grid-item col-xs-12 col-sm-6 col-md-4 pyramid-item support-pylons category-authentication addon-yes">
              <div class="grid-item-content">
                <h4>pyramid_who</h4>
                <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=300%C3%97300&w=300&h=300" class="img-responsive">
                <div class="addon-description">Authentication policy for Pyramid using repoze.who 2.0 API.</div>
                <div class="addon-maintainers">Maintainers: Chris McDonough, Tres Seaver</div>
                <span class="addon-pypiUrl"><a href="https://pypi.python.org/pypi/pyramid_who">PyPI</a></span>
                <span class="addon-vcsUrl"><a href="https://github.com/Pylons/pyramid_who">VCS</a></span>
                <span class="addon-docsUrl"><a href="http://docs.pylonsproject.org/projects/pyramid-who/en/latest/">docs</a></span>
              </div>
            </div>

            <div class="grid-item col-xs-12 col-sm-6 col-md-4 pyramid-item support-pylons category-configuration addon-yes">
              <div class="grid-item-content">
                <h4>pyramid_zcml</h4>
                <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=300%C3%97300&w=300&h=300" class="img-responsive">
                <div class="addon-description">Zope Configuration Markup Language configuration support for Pyramid.</div>
                <div class="addon-maintainers">Maintainers: Chris McDonough</div>
                <span class="addon-pypiUrl"><a href="https://pypi.python.org/pypi/pyramid_zcml">PyPI</a></span>
                <span class="addon-vcsUrl"><a href="https://github.com/Pylons/pyramid_zcml">VCS</a></span>
                <span class="addon-docsUrl"><a href="http://docs.pylonsproject.org/projects/pyramid-zcml/en/latest/">docs</a></span>
              </div>
            </div>

            <div class="grid-item col-xs-12 col-sm-6 col-md-4 pyramid-item support-pylons category-debugging addon-yes">
              <div class="grid-item-content">
                <h4>pyramid_debugtoolbar</h4>
                <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=300%C3%97300&w=300&h=300" class="img-responsive">
                <div class="addon-description">An interactive HTML debug toolbar for Pyramid.</div>
                <div class="addon-maintainers">Maintainers: Chris McDonough, Blaise Laflamme, Michael Merickel</div>
                <span class="addon-pypiUrl"><a href="https://pypi.python.org/pypi/pyramid_debugtoolbar">PyPI</a></span>
                <span class="addon-vcsUrl"><a href="https://github.com/Pylons/pyramid_debugtoolbar">VCS</a></span>
                <span class="addon-docsUrl"><a href="http://docs.pylonsproject.org/projects/pyramid-debugtoolbar/en/latest/">docs</a></span>
              </div>
            </div>

            <div class="grid-item col-xs-12 col-sm-6 col-md-4 pyramid-item support-pylons category-debugging addon-yes">
              <div class="grid-item-content">
                <h4>pyramid_exclog</h4>
                <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=300%C3%97300&w=300&h=300" class="img-responsive">
                <div class="addon-description">A package which logs exceptions from Pyramid applications.</div>
                <div class="addon-maintainers">Maintainers: Chris McDonough</div>
                <span class="addon-pypiUrl"><a href="https://pypi.python.org/pypi/pyramid_exclog">PyPI</a></span>
                <span class="addon-vcsUrl"><a href="https://github.com/Pylons/pyramid_exclog">VCS</a></span>
                <span class="addon-docsUrl"><a href="http://docs.pylonsproject.org/projects/pyramid-exclog/en/latest/">docs</a></span>
              </div>
            </div>

            <div class="grid-item col-xs-12 col-sm-6 col-md-4 pyramid-item support-pylons category-development-environment addon-no">
              <div class="grid-item-content">
                <h4>Substance-D</h4>
                <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=300%C3%97300&w=300&h=300" class="img-responsive">
                <div class="addon-description">An application server built upon the Pyramid web framework. It provides a user interface for managing content as well as libraries and utilities which make it easy to create applications.</div>
                <div class="addon-maintainers">Maintainers: chrism, cguardia</div>
                <span class="addon-pypiUrl"><a href="https://pypi.python.org/pypi/substanced">PyPI</a></span>
                <span class="addon-vcsUrl"><a href="https://github.com/Pylons/substanced">VCS</a></span>
                <span class="addon-docsUrl"><a href="http://docs.pylonsproject.org/projects/substanced/en/latest/">docs</a></span>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </section>

</div>

<%- include partials/bottom %>

