{% extends './layout/home.html' %}

{% block content %}
  <section id="main">
    <div class="container">
      <h1 class="title text-red">Powered by Pyramid</h1>
      <div class="row">
        <div class="col-sm-12">
          <h2>Companies and Organizations</h2>
          <p>
            <a href="http://www.adroll.com/">AdRoll</a><img alt="AdRoll" src="img/adroll-logo.png">
          </p>
          <p>
            <a href="https://appenlight.com">Appenlight</a><img alt="Appenlight" src="img/appenlight-logo.png">
          </p>
          <p>
            <a href="http://getbirdseye.com/">BirdsEye</a><img alt="BirdsEye" src="img/birdseye-logo.jpg">
          </p>
          <p>
            <a href="http://bravewords.com/">BraveWords</a><img alt="BraveWords" src="img/bravewords-logo.png">
          </p>
          <p>
            <a href="http://dailyclimate.org/">The Daily Climate</a><img alt="The Daily Climate" src="img/the-daily-climate-logo.png">
          </p>
          <p>
            <a href="http://www.discnw.org/">DiscNW</a><img alt="DiscNW" src="img/discnw-logo.png">
          </p>
          <p>
            <a href="http://environmentalhealthnews.org/">Environmental Health News</a><img alt="Environmental Health News" src="img/environmental-health-news-logo.png">
          </p>
          <p>
            <a href="https://hypothes.is/">Hypothesis</a><img alt="Hypothesis" src="img/hypothesis-logo.png">
          </p>
          <p>
            <a href="http://itcase.pro">ITCase</a><img alt="ITCase" src="img/itcase-logo.png">
          </p>
          <p>
            <a href="http://kleinundpartner.at/">Klein & Partner KG</a><img alt="Klein & Partner KG" src="img/klein-und-partner-logo.svg">
          </p>
          <p>
            <a href="https://store.kuiu.com/">KUIU</a><img alt="KUIU" src="img/kuiu-logo.png">
          </p>
          <p>
            <a href="https://www.majerti.fr">Majerti</a><img alt="Majerti" src="img/majerti-logo.png">
          </p>
          <p>
            <a href="https://www.mozilla.org/">Mozilla</a><img alt="Mozilla" src="img/mozilla-logo.png">
          </p>
          <p>
            <a href="http://www.newcars.com/">NewCars.com</a><img alt="NewCars.com" src="img/newcars-logo.png">
          </p>
          <p>
            <a href="https://rhodecode.com/">RhodeCode</a><img alt="RhodeCode" src="img/rhodecode-logo.png">
          </p>
          <p>
            <a href="http://www.surveymonkey.com/">SurveyMonkey</a><img alt="SurveyMonkey" src="img/surveymonkey-logo.png">
          </p>
          <p>
            <a href="http://www.yelp.com/">Yelp</a><img alt="Yelp" src="img/yelp-logo.png">
          </p>
          <p>
            <a href="http://www.zopyx.com">ZOPYX</a><img alt="ZOPYX" src="img/zopyx-logo.jpg">
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h2>
            Applications
          </h2>
          <p>This list of open source software demonstrates the wide variety of applications that can be Powered by Pyramid. You can view the source code and apply concepts to your own Pyramid projects, or deploy your own instance of the application.</p>
          <h3><a href="https://github.com/Pylons/cluegun">cluegun</a></h3>
          <p>
            A simple pastebin application based on Rocky Burt's<a href="http://pypi.python.org/pypi/ClueBin/0.2.3">ClueBin</a>. It demonstrates form processing, security, and the use of ZODB within a Pyramid application.
          </p>
          <ul>
            <li>Version Control:
              <a href="https://github.com/Pylons/cluegun">https://github.com/Pylons/cluegun</a>
            </li>
          </ul>

          <h3>
            <a href="http://cornice.readthedocs.org/en/latest/">Cornice</a>
          </h3>
          <p>Cornice provides helpers to build and document REST-ish web services with Pyramid, with decent default behaviors. It takes care of following the HTTP specification in an automated way where possible.</p>
          <ul>
            <li>Version Control:
              <a href="https://github.com/mozilla-services/cornice">https://github.com/mozilla-services/cornice</a>
            </li>
          </ul>

          <h3><a href="http://karlproject.org">KARL</a></h3>
          <p>A moderately-sized application (roughly 80K lines of Python code) built on top of Pyramid. It is an open source web system for collaboration, organizational intranets, and knowledge management. It provides facilities for wikis, calendars, manuals, searching, tagging, commenting, and file uploads. See the
            <a href="http://karlproject.org">KARL site</a> for download and installation details.
          </p>

          <h3><a href="http://kinto.readthedocs.org/en/latest/">Kinto</a></h3>
          <p>Store, Sync, Share, and Self-Host. Kinto is a lightweight JSON storage service with synchronisation and sharing abilities.</p>
          <ul>
            <li>Version Control:
              <a href="https://github.com/Kinto/kinto">https://github.com/Kinto/kinto</a>
            </li>
          </ul>

          <h3><a href="https://github.com/Pylons/shootout">shootout</a></h3>
          <p>An example "idea competition" application by Carlos de la Guardia and Lukasz Fidosz. It demonstrates URL dispatch, simple authentication, integration with
            <a href="http://www.sqlalchemy.org/">SQLAlchemy</a> and pyramid_simpleform.
          </p>
          <ul>
            <li>Version Control:
              <a href="https://github.com/Pylons/shootout">https://github.com/Pylons/shootout</a>
            </li>
          </ul>

          <h3><a href="https://github.com/rach/suma">SUMA</a></h3>
          <p>SUMA stands for Short URL Managment App. The role of SUMA is to manage external links and extract data from them. SUMA is a small web service to easily do the following:
          <ul>
            <li>Creating short URL for external link within your application</li>
            <li>Extracting Title</li>
            <li>Capturing Screenshot from URL</li>
            <li>Blocking URLs</li>
            <li>Collecting clicks</li>
          </ul>
          <ul>
            <li>Version Control:
              <a href="https://github.com/rach/suma">https://github.com/rach/suma</a>
            </li>
          </ul>

          <h3><a href="https://github.com/Pylons/virginia">virginia</a></h3>
          <p>A very simple dynamic file rendering application. It is willing to render structured text documents, HTML documents, and images from a filesystem directory. It&#8217;s also a good example of traversal. An earlier version of this application runs the
              <a href="http://repoze.org">repoze.org</a> website.</p>
          <ul>
            <li>Version Control:
              <a href="https://github.com/Pylons/virginia">https://github.com/Pylons/virginia</a>
            </li>
          </ul>

          <h3>
            <a href="https://warehouse.python.org/">warehouse</a><img alt="warehouse" src="img/warehouse-pypi-logo.png">
          </h3>
          <p>Warehouse is a next generation Python Package Repository designed to replace the legacy code base that currently powers PyPI.</p>
          <ul>
            <li><a href="https://github.com/pypa/warehouse">Repository</a></li>
            <li><a href="https://warehouse.python.org/">Demonstration</a></li>
          </ul>

        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h2>Websites</h2>

          <p>This is a list of websites reported as being Powered by Pyramid. Except as noted, the source code is not available to the public.</p>

          <dl>

            <dt><a href="https://pcblueprint.com/">PCBlueprint</a><img alt="PCBlueprint" src="img/pc-blueprint-logo.png"></dt>
              <dd>Create a new workstation, server, gaming PC, whatever.</dd>

            <dt>Explorer</dt>
              <dd><a href="https://www.readingplus.com/">Reading Plus</a> internal tool</dd>

            <dt>Salesdash</dt>
              <dd><a href="https://www.readingplus.com/">Reading Plus</a> tool for internal and external sales partners</dd>

          </dl>
          <h3>Websites based on Kotti</h3>

          <dl>
            <dt><a href="http://autonomie.coop/">Autonomie</a><img alt="Autonomie" src="img/autonomie-logo.png"></dt>
            <dd>Autonomie is an open source Pyramid-based ERP financed by the collaboration of multiple French worker cooperatives called CAE.
              <ul>
                <li>Repository:
                  <a href="https://github.com/CroissanceCommune/autonomie">https://github.com/CroissanceCommune/autonomie</a>
                </li>
                <li>Demonstration:
                  <a href="http://autonomie.coop/demonstration/">http://autonomie.coop/demonstration/</a>
                </li>
              </ul>
            </dd>

            <dt><a href="http://www.baobab-infoladen.de/">Baobab-Infoladen Eine Welt e.V.</a><img alt="Baobab-Infoladen Eine Welt e.V." src="img/baobab-infoladen-logo.gif"></dt>
            <dd>Basic Kotti site of the fair trade association Baobab-Infoladen Eine Welt e.V.</dd>

            <dt><a href="http://www.bateau-de-hollande.com/">Bateau De Hollande</a><img alt="Bateau De Hollande" src="img/bateau-de-hollande-logo.png"></dt>
            <dd>Bateau de Hollande assists French people in buying boats in the Netherlands. The Kotti-based website mutualizes announcements from dutch brokers and presents the different provided services.</dd>

            <dt><a href="http://www.dasnaechstekapitel.de/">Das nächste Kapitel</a><img alt="Das nächste Kapitel" src="img/konrad-adenauer-stiftung-logo.svg"></dt>
            <dd>Young people from all over Germany discuss questions in workshops about the next chapter for the country. The website, based on Kotti, presents the concept and the results and have discussion tools in the restricted area. »Das nächste Kapitel« (The next chapter) is a project of the
              <a href="http://kas.de/">Konrad-Adenauer-Stifung</a>.</dd>

            <dt><a href="https://tool.european-energy-award.org/">eea Management Tool</a><img alt="eea Management Tool" src="img/european-energy-award-logo.jpg"></dt>
            <dd>An intranet with assessment and certification tools for the European Energy Award®. The "eea Management Tool" application is based on Kotti.</dd>

            <dt><a href="http://www.fitforlife.eu/">Fit for Life</a><img alt="Fit for Life" src="img/fit-for-life-logo.jpg"></dt>
            <dd>A Kotti site made for the "Fit for Life" project that helps children suffering from hemophilia participate in everyday school and extracurricular sports activities.</dd>

            <dt><a href="http://rollrasen.eu/">Peiffer - Rollrasen | Garten- und Landschaftsbau</a><img alt="Peiffer - Rollrasen | Garten- und Landschaftsbau" src="img/peiffer-rollrasen-garten-und-landschaftsbau-logo.png"></dt>
            <dd>Corporate Kotti-based website for Europe's leading turf grass producer.</dd>

            <dt><a href="http://www.pontzen.de/">Sabrina Pontzen Raumdesign</a><img alt="Sabrina Pontzen Raumdesign" src="img/sabrina-pontzen-raumdesign-logo.png"></dt>
            <dd>Previously was an Apple iWeb project that has been converted to Kotti within one hour.</dd>
          </dl>


        </div>
      </div>
    </div>
  </section>

{% endblock %}
