{% extends './layout/home.html' %}

{% block content %}
  <section id="main">
    <div class="container">
      <h1 class="title text-red">Powered by Pyramid</h1>
      <div class="row">
        <div class="col-sm-12">
          <h2>Companies and Organizations</h2>
          <p>
            <a href="http://www.adroll.com/">AdRoll</a><img alt="AdRoll" src="img/adroll-logo.png">
          </p>
          <p>
            <a href="https://appenlight.com">Appenlight</a><img alt="Appenlight" src="img/appenlight-logo.png">
          </p>
          <p>
            <a href="http://getbirdseye.com/">BirdsEye</a><img alt="BirdsEye" src="img/birdseye-logo.jpg">
          </p>
          <p>
            <a href="http://bravewords.com/">BraveWords</a><img alt="BraveWords" src="img/bravewords-logo.png">
          </p>
          <p>
            <a href="http://dailyclimate.org/">The Daily Climate</a><img alt="The Daily Climate" src="img/the-daily-climate-logo.png">
          </p>
          <p>
            <a href="http://www.discnw.org/">DiscNW</a><img alt="DiscNW" src="img/discnw-logo.png">
          </p>
          <p>
            <a href="http://environmentalhealthnews.org/">Environmental Health News</a><img alt="Environmental Health News" src="img/environmental-health-news-logo.png">
          </p>
          <p>
            <a href="https://hypothes.is/">Hypothesis</a><img alt="Hypothesis" src="img/hypothesis-logo.png">
          </p>
          <p>
            <a href="http://itcase.pro">ITCase</a><img alt="ITCase" src="img/itcase-logo.png">
          </p>
          <p>
            <a href="http://kleinundpartner.at/">Klein & Partner KG</a><img alt="Klein & Partner KG" src="img/klein-und-partner-logo.svg">
          </p>
          <p>
            <a href="https://store.kuiu.com/">KUIU</a><img alt="KUIU" src="img/kuiu-logo.png">
          </p>
          <p>
            <a href="https://www.majerti.fr">Majerti</a><img alt="Majerti" src="img/majerti-logo.png">
          </p>
          <p>
            <a href="https://www.mozilla.org/">Mozilla</a><img alt="Mozilla" src="img/mozilla-logo.png">
          </p>
          <p>
            <a href="http://www.newcars.com/">NewCars.com</a><img alt="NewCars.com" src="img/newcars-logo.png">
          </p>
          <p>
            <a href="https://rhodecode.com/">RhodeCode</a><img alt="RhodeCode" src="img/rhodecode-logo.png">
          </p>
          <p>
            <a href="http://www.surveymonkey.com/">SurveyMonkey</a><img alt="SurveyMonkey" src="img/surveymonkey-logo.png">
          </p>
          <p>
            <a href="http://www.yelp.com/">Yelp</a><img alt="Yelp" src="img/yelp-logo.png">
          </p>
          <p>
            <a href="http://www.zopyx.com">ZOPYX</a><img alt="ZOPYX" src="img/zopyx-logo.jpg">
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h2>
            Applications
          </h2>
          <p>This list of open source software demonstrates the wide variety of applications that can be Powered by Pyramid. You can view the source code and apply concepts to your own Pyramid projects, or deploy your own instance of the application.</p>
          <h3><a href="https://github.com/Pylons/cluegun">cluegun</a></h3>
          <p>
            A simple pastebin application based on Rocky Burt's<a href="http://pypi.python.org/pypi/ClueBin/0.2.3">ClueBin</a>. It demonstrates form processing, security, and the use of ZODB within a Pyramid application.
          </p>
          <ul>
            <li>Version Control:
              <a href="https://github.com/Pylons/cluegun">https://github.com/Pylons/cluegun</a>
            </li>
          </ul>

          <h3>
            <a href="http://cornice.readthedocs.org/en/latest/">Cornice</a>
          </h3>
          <p>Cornice provides helpers to build and document REST-ish web services with Pyramid, with decent default behaviors. It takes care of following the HTTP specification in an automated way where possible.</p>
          <ul>
            <li>Version Control:
              <a href="https://github.com/mozilla-services/cornice">https://github.com/mozilla-services/cornice</a>
            </li>
          </ul>

          <h3><a href="http://karlproject.org">KARL</a></h3>
          <p>A moderately-sized application (roughly 80K lines of Python code) built on top of Pyramid. It is an open source web system for collaboration, organizational intranets, and knowledge management. It provides facilities for wikis, calendars, manuals, searching, tagging, commenting, and file uploads. See the
            <a href="http://karlproject.org">KARL site</a> for download and installation details.
          </p>

          <h3><a href="http://kinto.readthedocs.org/en/latest/">Kinto</a></h3>
          <p>Store, Sync, Share, and Self-Host. Kinto is a lightweight JSON storage service with synchronisation and sharing abilities.</p>
          <ul>
            <li>Version Control:
              <a href="https://github.com/Kinto/kinto">https://github.com/Kinto/kinto</a>
            </li>
          </ul>

          <h3><a href="https://github.com/Pylons/shootout">shootout</a></h3>
          <p>An example "idea competition" application by Carlos de la Guardia and Lukasz Fidosz. It demonstrates URL dispatch, simple authentication, integration with
            <a href="http://www.sqlalchemy.org/">SQLAlchemy</a> and pyramid_simpleform.
          </p>
          <ul>
            <li>Version Control:
              <a href="https://github.com/Pylons/shootout">https://github.com/Pylons/shootout</a>
            </li>
          </ul>

          <h3><a href="https://github.com/rach/suma">SUMA</a></h3>
          <p>SUMA stands for Short URL Managment App. The role of SUMA is to manage external links and extract data from them. SUMA is a small web service to easily do the following:
          <ul>
            <li>Creating short URL for external link within your application</li>
            <li>Extracting Title</li>
            <li>Capturing Screenshot from URL</li>
            <li>Blocking URLs</li>
            <li>Collecting clicks</li>
          </ul>
          <ul>
            <li>Version Control:
              <a href="https://github.com/rach/suma">https://github.com/rach/suma</a>
            </li>
          </ul>

          <h3><a href="https://github.com/Pylons/virginia">virginia</a></h3>
          <p>A very simple dynamic file rendering application. It is willing to render structured text documents, HTML documents, and images from a filesystem directory. It&#8217;s also a good example of traversal. An earlier version of this application runs the
              <a href="http://repoze.org">repoze.org</a> website.</p>
          <ul>
            <li>Version Control:
              <a href="https://github.com/Pylons/virginia">https://github.com/Pylons/virginia</a>
            </li>
          </ul>

          <h3>
            <a href="https://warehouse.python.org/">warehouse</a><img alt="warehouse" src="img/warehouse-pypi-logo.png">
          </h3>
          <p>Warehouse is a next generation Python Package Repository designed to replace the legacy code base that currently powers PyPI.</p>
          <ul>
            <li><a href="https://github.com/pypa/warehouse">Repository</a></li>
            <li><a href="https://warehouse.python.org/">Demonstration</a></li>
          </ul>

        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h2>Development environments</h2>
          <p>"Development environments" are packages which use Pyramid as a core, but offer alternative services and scaffolding. Each development environment presents a set of opinions and a "personality" to its users. Although users of a development environment can still use all of the services offered by the Pyramid core, they are usually guided to a more focused set of opinions offered by the development environment itself. Development environments often have dependencies beyond those of the Pyramid core.</p>

          <h3>
            <a href="http://docs.pylonsproject.org/projects/akhet/en/latest/">Akhet</a>
          </h3>
          <p>
            A Pyramid library and demo application with a Pylons-like feel. Its most known for its former application scaffold, which helped users transition from Pylons and those preferring a more Pylons-like API. The scaffold has been retired but the demo plays a similar role.
          </p>
          <ul>
            <li>Maintained by: Mike Orr</li>
            <li>Version Control:
              <a href="https://github.com/Pylons/akhet">https://github.com/Pylons/akhet</a>
            </li>
          </ul>


          <h3><a href="http://khufuproject.github.com/">Khufu Project</a></h3>
          <p>Khufu is an application scaffolding for Pyramid that provides an environment to work with Jinja2 and SQLAlchemy.</p>
          <ul>
            <li>Maintained by: Rocky Burt</li>
            <li>Version Control:
              <a href="https://github.com/khufuproject">https://github.com/khufuproject</a>
            </li>
          </ul>

          <h3><a href="http://kotti.pylonsproject.org/">Kotti</a></h3>
          <p>Kotti is a high-level, Pythonic web application framework. It includes an extensible Content Management System called the Kotti CMS, offering all the features you would expect from a modern CMS.</p>
          <ul>
            <li>Version Control:
              <a href="https://github.com/Kotti/Kotti">https://github.com/Kotti/Kotti</a>
            </li>
          </ul>

          <h3><a href="https://nefertari.readthedocs.org/">Nefertari</a></h3>
          <p>Nefertari is a REST API framework for Pyramid that uses ElasticSearch for reads and either MongoDB or Postgres for writes. It provides an interface to ElasticSearch's
            <a href="https://www.elastic.co/guide/en/elasticsearch/reference/1.x/query-dsl-queries.html">Query String DSL</a> for full text search.
          </p>
          <ul>
            <li>Version Control:
              <a href="https://github.com/brandicted/nefertari">https://github.com/brandicted/nefertari</a>
            </li>
          </ul>

          <h3>
            <a href="http://ptahproject.readthedocs.org/en/latest/">Ptah</a>
          </h3>
          <p>Ptah is a fast, fun, open source, high-level Python web development environment.</p>
          <ul>
            <li>Version Control:
              <a href="https://github.com/ptahproject/ptah">https://github.com/ptahproject/ptah</a>
            </li>
          </ul>

          <h3>
            <a href="http://pyramid-sacrud.readthedocs.org/en/latest/">pyramid_sacrud</a>
          </h3>
          <p>Pyramid CRUD interface. Provides an administration web interface for Pyramid. Unlike classic CRUD, pyramid_sacrud allows overrides and flexibility to customize your interface, similar to django.contrib.admin, but uses a different backend to provide resources. <a href="http://pyramid-sacrud.readthedocs.org/en/latest/pages/contribute/architecture.html">New Architecture</a> built on the resources and mechanism traversal, allows use in various cases.</p>
          <ul>
            <li>Version Control:
              <a href="https://github.com/sacrud/pyramid_sacrud">https://github.com/sacrud/pyramid_sacrud</a>
            </li>
          </ul>

          <h3><a href="https://ramses.readthedocs.org/">Ramses</a></h3>
            <p>Ramses is a library that generates a RESTful API using
              <a href="http://raml.org">RAML</a>. It uses Pyramid and
              <a href="https://nefertari.readthedocs.org/">Nefertari</a> which
              provides ElasticSearch-powered views.
            </p>
          <ul>
            <li>Version Control:
              <a href="https://github.com/brandicted/ramses">https://github.com/brandicted/ramses</a>
            </li>
          </ul>

          <h3><a href="http://www.ringo-framework.org">Ringo</a></h3>
          <p>Ringo is an extensible high-level web application framework with strength in building form based management or administration software, providing ready to use components often needed in web applications.</p>
          <ul>
            <li>Version Control:
              <a href="https://github.com/ringo-framework/ringo">https://github.com/ringo-framework/ringo</a>
            </li>
          </ul>

          <h3><a href="http://substanced.net/">Substance-D</a><img alt="Substance D" src="img/substance-d-logo.png"></h3>
          <p>An application server built upon the Pyramid web framework. It provides a user interface for managing content as well as libraries and utilities which make it easy to create applications.</p>
          <ul>
            <li>Version Control:<a href="https://github.com/Pylons/substanced">https://github.com/Pylons/substanced</a></li>
            <li><a href="http://demo.substanced.net/">Demonstration</a></li>
          </ul>

          <h3><a href="https://websauna.org/">Websauna</a></h3>
          <p>Websauna is a Python package and application framework for developing custom consumer and business web services. It emphasises meeting business requirements with reliable delivery times, responsiveness, consistency in quality, security and high data integrity. A low learning curve, novice friendliness and polished documentation help less seasoned developers to get their first release out quickly.</p>
          <ul>
            <li>Version Control:
              <a href="https://github.com/websauna/websauna">https://github.com/websauna/websauna</a>
            </li>
          </ul>

          <h3><a href="https://github.com/sernst/Ziggurat">Ziggurat</a></h3>
          <p>A bundled application framework for data driven Pyramid project development.</p>
          <ul>
            <li>Version Control:
              <a href="https://github.com/sernst/Ziggurat">https://github.com/sernst/Ziggurat</a>
            </li>
          </ul>

        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h2>Websites</h2>

          <p>This is a list of websites reported as being Powered by Pyramid. Except as noted, the source code is not available to the public.</p>

          <dl>

            <dt><a href="https://pcblueprint.com/">PCBlueprint</a><img alt="PCBlueprint" src="img/pc-blueprint-logo.png"></dt>
              <dd>Create a new workstation, server, gaming PC, whatever.</dd>

            <dt>Explorer</dt>
              <dd><a href="https://www.readingplus.com/">Reading Plus</a> internal tool</dd>

            <dt>Salesdash</dt>
              <dd><a href="https://www.readingplus.com/">Reading Plus</a> tool for internal and external sales partners</dd>

          </dl>
          <h3>Websites based on Kotti</h3>

          <dl>
            <dt><a href="http://autonomie.coop/">Autonomie</a><img alt="Autonomie" src="img/autonomie-logo.png"></dt>
            <dd>Autonomie is an open source Pyramid-based ERP financed by the collaboration of multiple French worker cooperatives called CAE.
              <ul>
                <li>Repository:
                  <a href="https://github.com/CroissanceCommune/autonomie">https://github.com/CroissanceCommune/autonomie</a>
                </li>
                <li>Demonstration:
                  <a href="http://autonomie.coop/demonstration/">http://autonomie.coop/demonstration/</a>
                </li>
              </ul>
            </dd>

            <dt><a href="http://www.baobab-infoladen.de/">Baobab-Infoladen Eine Welt e.V.</a><img alt="Baobab-Infoladen Eine Welt e.V." src="img/baobab-infoladen-logo.gif"></dt>
            <dd>Basic Kotti site of the fair trade association Baobab-Infoladen Eine Welt e.V.</dd>

            <dt><a href="http://www.bateau-de-hollande.com/">Bateau De Hollande</a><img alt="Bateau De Hollande" src="img/bateau-de-hollande-logo.png"></dt>
            <dd>Bateau de Hollande assists French people in buying boats in the Netherlands. The Kotti-based website mutualizes announcements from dutch brokers and presents the different provided services.</dd>

            <dt><a href="http://www.dasnaechstekapitel.de/">Das nächste Kapitel</a><img alt="Das nächste Kapitel" src="img/konrad-adenauer-stiftung-logo.svg"></dt>
            <dd>Young people from all over Germany discuss questions in workshops about the next chapter for the country. The website, based on Kotti, presents the concept and the results and have discussion tools in the restricted area. »Das nächste Kapitel« (The next chapter) is a project of the
              <a href="http://kas.de/">Konrad-Adenauer-Stifung</a>.</dd>

            <dt><a href="https://tool.european-energy-award.org/">eea Management Tool</a><img alt="eea Management Tool" src="img/european-energy-award-logo.jpg"></dt>
            <dd>An intranet with assessment and certification tools for the European Energy Award®. The "eea Management Tool" application is based on Kotti.</dd>

            <dt><a href="http://www.fitforlife.eu/">Fit for Life</a><img alt="Fit for Life" src="img/fit-for-life-logo.jpg"></dt>
            <dd>A Kotti site made for the "Fit for Life" project that helps children suffering from hemophilia participate in everyday school and extracurricular sports activities.</dd>

            <dt><a href="http://rollrasen.eu/">Peiffer - Rollrasen | Garten- und Landschaftsbau</a><img alt="Peiffer - Rollrasen | Garten- und Landschaftsbau" src="img/peiffer-rollrasen-garten-und-landschaftsbau-logo.png"></dt>
            <dd>Corporate Kotti-based website for Europe's leading turf grass producer.</dd>

            <dt><a href="http://www.pontzen.de/">Sabrina Pontzen Raumdesign</a><img alt="Sabrina Pontzen Raumdesign" src="img/sabrina-pontzen-raumdesign-logo.png"></dt>
            <dd>Previously was an Apple iWeb project that has been converted to Kotti within one hour.</dd>
          </dl>


        </div>
      </div>
    </div>
  </section>

{% endblock %}
