{% extends './layout/home.html' %}

{% block content %}
    <section id="main">
        <div class="container">
            <h1 class="title text-red">Powered by Pyramid</h1>
            <div class="row">
                <div class="col-sm-1 text-center">
                    <span class="fa fa-group fa-3x"></span>
                </div>
                <div class="col-sm-5">
                  <h3 class="title text-red">Companies and Organizations</h3>
                  <p>
                  Hypothesis
                  </p>
                  <p>
                  <a href="https://hypothes.is/"><img alt="Hypothesis" width="284px" height="284px" src="https://hypothes.is/assets/images/logo.png"></a>
                  </p>

                  <p>
                  DiscNW
                  </p>
                  <p>
                  <a href="http://www.discnw.org/"><img alt="DiscNW" src="http://www.discnw.org/images/discnwlogo-copper-200.png"></a>
                  </p>

                  <p>
                  ZOPYX
                  </p>
                  <p>
                  <a href="http://www.zopyx.com"><img alt="ZOPYX" src="https://www.andreas-jung.com/contents/upcoming-talks/image_mini"></a>
                  </p>

                  <p>
                  Majerti
                  </p>
                  <p>
                  <a href="https://www.majerti.fr"><img alt="Majerti" src="https://www.majerti.fr/media/cms_page_media/2/logo_10.png"></a>
                  </p>

                  <p>
                  ITCase
                  </p>
                  <p>
                  <a href="http://itcase.pro"><img alt="ITCase" src="http://www.itcase.pro/img/logo.png"></a>
                  </p>
                  <p>
                  Klein & Partner KG
                  </p>
                  <p>
                  <a href="http://kleinundpartner.at/"><img alt="Klein & Partner KG" src="http://kleinundpartner.at/++theme++kup.kupsite/logos/kup-logostandard.svg"></a>
                  </p>

<ul>
    <li><a href="http://www.adroll.com/"><img src="http://www.pylonsproject.org/static/images/logos/adroll.jpg"></a></li>
    <li><a href="http://getbirdseye.com/"><img src="http://www.pylonsproject.org/static/images/logos/birdseye.jpg"></a></li>
    <li><a href="http://buzzumi.com/"><img src="http://www.pylonsproject.org/static/images/logos/buzzumi.jpg"></a></li>
    <li><a href="http://www.bittorrent.com/"><img src="http://www.pylonsproject.org/static/images/logos/bittorrent.jpg"></a></li>
    <li><a href="http://www.newcars.com/"><img src="http://www.pylonsproject.org/static/images/logos/carscom.jpg"></a></li>
    <li><a href="http://digg.com/"><img src="http://www.pylonsproject.org/static/images/logos/digg.jpg"></a></li>
    <li><a href="https://www.dropbox.com/"><img src="http://www.pylonsproject.org/static/images/logos/dropbox.jpg"></a></li>
    <li><a href="http://www.freshbooks.com/"><img src="http://www.pylonsproject.org/static/images/logos/freshbooks.jpg"></a></li>
    <li><a href="http://www.imagemoversdigital.com/"><img src="http://www.pylonsproject.org/static/images/logos/imagemoversdigital.jpg"></a></li>
    <li><a href="http://www.lolapps.com/"><img src="http://www.pylonsproject.org/static/images/logos/lolapps.jpg"></a></li>
    <li><a href="http://www.mochimedia.com/"><img src="http://www.pylonsproject.org/static/images/logos/mochimedia.jpg"></a></li>
    <li><a href="http://www.opera.com/"><img src="http://www.pylonsproject.org/static/images/logos/opera.jpg"></a></li>
    <li><a href="http://oreilly.com/"><img src="http://www.pylonsproject.org/static/images/logos/oreilly.jpg"></a></li>
    <li><a href="http://saucelabs.com/"><img src="http://www.pylonsproject.org/static/images/logos/saucelabs.jpg"></a></li>
    <li><a href="http://www.reddit.com/"><img src="http://www.pylonsproject.org/static/images/logos/reddit.jpg"></a></li>
    <li><a href="http://sourceforge.net/"><img src="http://www.pylonsproject.org/static/images/logos/sourceforge.jpg"></a></li>
    <li><a href="http://www.surveymonkey.com/"><img src="http://www.pylonsproject.org/static/images/logos/surveymonkey.jpg"></a></li>
    <li><a href="http://www.tineye.com/"><img src="http://www.pylonsproject.org/static/images/logos/tineye.jpg"></a></li>
    <li><a href="http://www.wetafx.co.nz/"><img src="http://www.pylonsproject.org/static/images/logos/wetadigital.jpg"></a></li>
    <li><a href="http://www.netsight.co.uk/"><img width="100px" src="http://www.pylonsproject.org/static/images/logos/netsight.jpg"></a></li>
</ul>


                </div>
                <div class="col-sm-1 text-center">
                    <span class="fa fa-code-fork fa-3x"></span>
                </div>
                <div class="col-sm-5">
                  <h3 class="title text-red">Projects</h3>
                  <p>Autonomie</p>
                  <ul>
                    <li>Description : Autonomie is an opensource pyramid-based ERP financed by the collaboration of multiple french worker cooperatives called CAE.</li>
                    <li>Repository: <a href="https://github.com/CroissanceCommune/autonomie">https://github.com/CroissanceCommune/autonomie</a></li>
                    <li>Demonstration: <a href="http://autonomie.coop/demonstration/">http://autonomie.coop/demonstration/</a></li>
                  </ul>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
