<%- include partials/top %>

<div class="page">

  <section class="section-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">

        <h1 class="title text-red">Events</h1>
           <section id="events">
             <p>Events in which Pyramid contributors and developers participate are listed below. To list your event, <a href="https://github.com/Pylons/trypyramid.com/issues/new">create a new issue on GitHub</a> with sufficient information and artwork.</p>
           <h2>Upcoming</h2>
                <div class="row event-item">
                    <div class="col-md-12 col-xs-12">
                    <h3><a href="https://goo.gl/b6vQZC">Samba Sprint</a></h3>
                    <h4>October 5<sup>th</sup> and 6<sup>th</sup>, 2018</h4>
                    <p>We are pleased to announce that we will be hosting a Pyramid sprint in São Paulo, Brazil, on October 5<sup>th</sup> and 6<sup>th</sup>, 2018.
                        The main topics are configuration management, GraphQL, and cookiecutter improvements.
                        The sprint is free to attend for everyone, and you can join us at Geru's office or remotely on the <a href="https://webchat.freenode.net/?channels=pyramid">#pyramid IRC channel</a>.</p>
                    <p>Some people that will join the sprint:</p>
                    <ul>
                        <li>Steve Piercy (Developer at Pyramid) - remote</li>
                        <li>Leonardo Rochael (Developer at Geru)</li>
                        <li>Tomás Correa (Co-founder Geru)</li>
                        <li>Érico Andrei (Maintainer at Websauna)</li>
                        <li>Cleber J. Santos (Developer at Websauna)</li>
                        <li>Davi Lima (Developer at Pyramid)</li>
                    </ul>
                    <h4>Venue</h4>
                    <p>Rua Inácio Pereira da Rocha 514 Vila Madalena - Sâo Paulo</p>
                    <p>Food and drink will be offered by Wyser Company.</p>
                    <p><a class="btn btn-lg btn-primary" href="https://goo.gl/b6vQZC">Register now</a></p>
                    <h4>About Geru</h4>
                        <p>Geru is a Brazilian lending marketplace created in 2013 offering personal unsecured term loans for individuals and small business owners.
                        Rates are lower than market and vary from 25% to 80% p.a., depending on the applicant's score.
                        Lending operations started in 2015, offering loans ranging from R$ 2,000 to R$ 50,000 in 12 to 36 months terms.</p>
                    </div>
                </div>
                <div class="row event-item">
                    <div class="col-md-12 col-xs-12">
                    <h3><a href="https://2018.ploneconf.org/">Sushi Sprint at PloneConf 2018</a></h3>
                    <h4>November 10-11, 2018</h4>
                    <p>We are pleased to announce a coding sprint on Pyramid and other projects under the Pylons Project in Tokyo, Japan, on November 10 and 11, 2018, during <a href="https://2018.ploneconf.org/">PloneConf 2018</a>. PloneConf 2018 will be held November 5-11 and includes two days of trainings, three days of talks, and two days of sprints.</p>
                        <p>The sprint is free to attend for everyone, and you can join us at the <a href="https://goo.gl/maps/MvS8d7BkKRw">venue</a> or remotely on the <a href="https://webchat.freenode.net/?channels=pyramid">#pyramid IRC channel</a>.</p>
                    <p>Some people that will join the sprint:</p>
                    <ul>
                        <li>Steve Piercy (Contributor with Pylons Project)</li>
                        <li>Nejc Zupan (Developer at )</li>
                    </ul>
                    <h4>Venue</h4>
                    <p>Microsoft Shinagawa Seminar Space in Shinagawa<br>
                        <a href="https://goo.gl/maps/MvS8d7BkKRw">JPGR+M4 Tokyo, Japan</a></p>
                    <p><a class="btn btn-lg btn-primary" href="https://2018.ploneconf.org/">Purchase Ticket Now</a></p>
                    </div>
                </div>
           <h2>Past</h2>
               <div class="row event-item">
                  <div class="col-md-8 col-xs-12">
                   <h3><a href="https://2017.ploneconf.org/">Plone Digital Experience Conference 2017</a></h3>
                   <h4>16-22 Oct 2017, Barcelona, Spain</h4>
                   <p>The Plone Digital Experience Conference is the place where you can find truly interactive in-person tutorials, keynotes, and talks on the Plone CMS stack, Python Web, and Frontend Technologies in an outstanding Open Source community atmosphere. Make new contacts and renew old ones; gather and discuss in our ever-present hallway track. Once your imagination is fired up, stay on for the sprints and collaborate with others to bring your ideas to life.</p>
                   <p>The Plone Digital Experience Conference has multiple tracks for everyone: decision makers, marketers, editors, designers, integrators, sysadmins, and developers.</p>
                  </div>
                  <div class="col-md-4 col-xs-12">
                    <a href="https://2017.ploneconf.org/">
                      <img class="img-responsive" src="img/plone-conference-2017-barcelona-logo.svg" alt="Logo of Plone Digital Experience Conference, 16-22 Oct 2017, Barcelona, Spain">
                    </a>
                  </div>
                </div>
               <div class="row event-item">
                  <div class="col-md-8 col-xs-12">
                   <h3><a href="https://us.pycon.org/2017/community/sprints/">Development Sprints at PyCon 2017</a></h3>
                   <h4>22-25 May 2017, Portland, Oregon, USA</h4>
                  <p>Development sprints are a key part of PyCon, and a chance for the contributors to open-source projects to get together face-to-face for up to four days of intensive learning, development and camaraderie. Newbies sit with gurus, go out for lunch and dinner together, and have a great time while advancing their project.</p>
                  <p>PyCon is the largest annual gathering for the community that uses and develops the open-source Python programming language. PyCon is organized by the Python community for the community.</p>
                  </div>
                  <div class="col-md-4 col-xs-12">
                    <a href="https://us.pycon.org/2017/community/sprints/">
                      <img class="img-responsive" src="img/pycon-2017-logo.jpg" alt="Logo of PyCon, 17-25 May 2017, Portland, Oregon, USA">
                    </a>
                  </div>
                </div>

               <div class="row event-item">
                  <div class="col-md-8 col-xs-12">
                   <h3><a href="https://pyconweb.com/">PyConWEB 2017</a></h3>
                   <h4>27-28 May 2017, Munich, Germany</h4>
                  <p>PyConWeb is the main Python event in web development, with 30 international speakers and 3 tracks of talks and workshops.</p>
                    <p>Django, Plone, Tornado, TurboGears, and Pyramid are but a few of the web frameworks and technologies to be presented and discussed at PyConWEB. Python essentials, best practices, networking - we have it all covered, in one conference.</p>
                      <p>PyConWEB 2017 is the first annual conference for Python web application developers. PyConWEB 2017 brings together these people to share challenges and solutions for problems they face. PyConWEB is presented by the PyMunich community, organizers of PyCon.DE, mini-conferences, and meetups. The Python Software Foundation officially granted PyMunich a license to organize PyConWEB, a new community event of PyCon series.</p>
                  </div>
                  <div class="col-md-4 col-xs-12">
                    <a href="https://pyconweb.com/">
                      <img class="img-responsive" src="img/pyconweb-text-logo.png" alt="Logo of Plone Digital Experience Conference, 16-22 Oct 2017, Barcelona, Spain">
                    </a>
                  </div>
                </div>

               <h3><a href="http://dragonsprint.com/">DragonSprint 2016</a></h3>
               <h4>5-9 December 2016, Ljubljana, Slovenia</h4>
               <p>Development sprint on Pyramid and other Pylons Project projects, including the launch of the new marketing website for the Pylons Project, <a href="https://pylonsproject.org">PylonsProject.org</a>.</p>
               <h3><a href="https://2016.ploneconf.org/">Plone Digital Experience Conference 2016</a></h3>
               <h4>17-23 Oct 2016, Boston, Massachusetts, USA</h4>
               <p>Tutorial session and talks on Pyramid, as well as development sprints for Pyramid, Deform, and other Pylons Project packages.</p>
               <h3><a href="https://us.pycon.org/2016/">PyCon 2016</a></h3>
               <h4>28 May - 5 June, 2016, Portland, Oregon, USA</h4>
           </section>
        </div>
      </div>
    </div>
  </section>

</div>

<%- include partials/bottom %>

