<%- include partials/top %>

<div class="page">

  <section class="section-content">
    <div class="container">
      <h1 class="title text-red">Enter the Tomb</h1>
      <p>The community around the Pyramid web framework contributes to and
        participates in its development, support, and good will. Pyramid is a
        free and open source software project. Mummies and pharaohs are
        welcome.</p>

      <div class="row">
        <div class="col-sm-6">
          <h2 class="title text-red">Help</h2>
          <p>How to ask questions and get answers.</p>
          <dl>
            <dt>
              <a href="http://pylonsproject.org/community-how-to-participate.html">
                Guidelines
              </a>
            </dt>
            <dd>
              <p>Pyramid follows the general
                <a href="http://pylonsproject.org/community-how-to-participate.html">guidelines</a>
                under the Pylons Project for support, including the
                <a href="http://pylonsproject.org/community-code-of-conduct.html">code of conduct</a>.</p>
            </dd>
            <dt class="text-red">
                Support
            </dt>
            <dd>
              <p>Development questions related to Pyramid can be discussed on the
                <a href="https://groups.google.com/forum/#!forum/pylons-discuss">pylons-discuss
                  mail list</a>.
              </p>
              <p>Developers may be available on the
                <a href="https://webchat.freenode.net/?channels=%23pyramid&uio=d4">#pyramid</a>
                channel on the Freenode IRC Network.</p>
            </dd>
          </dl>
        </div>
        <div class="col-sm-6">
          <h2 class="title text-red">Participate</h2>
          <p>How to contribute to Pyramid.</p>
          <dl>
            <dt class="text-red">
                Security Issues
            </dt>
            <dd>
              <p>To report security issues with Pyramid, send email to
                <a href="mailto:pylons-project-security@googlegroups.com">pylons-project-security@googlegroups.com</a></p>
            </dd>
            <dt class="text-red">
                General Issues
            </dt>
            <dd>
              <p>Report <a href="https://github.com/Pylons/pyramid/issues">general issues</a> on GitHub.</p>
            </dd>
            <dt>
              <a href="https://github.com/Pylons/pyramid/blob/master/contributing.md">
                Contributing
              </a>
            </dt>
            <dd>
              <p>Pyramid has specific guidelines for <a href="https://github.com/Pylons/pyramid/blob/master/contributing.md">
                  contributing code and documentation</a>, including tests and
                adding your name to the contributors agreement.</p>
            </dd>
          </dl>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <h2 class="title text-red">Publications</h2>
          <p>A few of the mummies and pharaohs who publish articles about Pyramid.</p>
          <ul>
            <li><a href="http://plope.com/">Chris McDonough</a></li>
            <li><a href="http://be.groovie.org/categories/python.html">Ben Bangert</a></li>
            <li><a href="http://cd34.com/blog/category/framework/">Chris Davies</a></li>
            <li><a href="http://pieceofpy.com/category/python/">Wayne Witzel III</a></li>
            <li><a href="http://michael.merickel.org/">Michael Merickel</a></li>
            <li><a href="http://www.stevepiercy.com/tag/pyramid.html">Steve Piercy</a></li>
            <li><a href="https://metaclassical.com/">Jon Rosebaugh</a></li>
            <li><a href="http://blog.delaguardia.com.mx/">Carlos de la Guardia</a></li>
          </ul>
        </div>
        <div class="col-sm-6">
          <h2 class="title text-red">Tools</h2>
          <div class="media">
            <div class="media-body">
              <h4 class="media-heading">
                <a href="https://www.jetbrains.com/pycharm/">
                  <strong>PyCharm</strong>
                </a>
              </h4>
              <p>
               <a href="https://www.jetbrains.com/pycharm/">PyCharm</a> is an
                integrated development environment for Python from
                <a href="https://www.jetbrains.com/">JetBrains</a>. PyCharm
                Professional Edition includes Pyramid as one of its Python web
                frameworks, making it easy to create, debug, and run
                Pyramid projects.
              </p>
              <p>
                Core developers in Pyramid and any other project under the Pylons Project are eligible to receive a renewable one-year free and open source software license for all <a href="https://www.jetbrains.com/">JetBrains</a> products, including
                <a href="https://www.jetbrains.com/pycharm/">PyCharm</a>, at no cost. Contact user
                <code>stevepiercy</code> in the
                <code>#pyramid</code> IRC channel on <code>irc.freenode.net</code>.
              </p>
            </div>
            <div class="media-right media-middle">
              <p>
                <a href="https://www.jetbrains.com/pycharm/">
                  <img class="media-object" src="img/pycharm-logo.png" alt="PyCharm" width="80px">
                </a>
              </p>
              <p>
                <a href="https://www.jetbrains.com/">
                  <img class="media-object" src="img/jetbrains-logo.png" alt="JetBrains" width="80px">
                </a>
              </p>
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <h2 class="title text-red">Podcasts and Videocasts</h2>
          <p>When hieroglyphs are not enough, these pharoahs and mummies rise to speak and broadcast.</p>
          <ul>
            <li><a href="https://talkpython.fm/episodes/show/3/pyramid-web-framework">Michael Kennedy/Talk Python to Me</a></li>
            <li><a href="https://www.podcastinit.com/episode-86-kinto-with-alexis-metaireau-and-mathieu-leplatre/">Podcast.__init__</a></li>
            <li>
              <a href="http://static.repoze.org/casts/pylonspodcast-1-2010-12-03.mp3">Q&amp;A with Ben and Chris (MP3, length: 1:26:08, ~ 43MB)</a><br>
                Chris McDonough and Ben Bangert talk about Pyramid, <a href="https://github.com/Pylons/pyramid_deform">pyramid_deform</a>, <a href="http://www.buildout.org/en/latest/">zc.buildout (also known as "buildout")</a>, <a href="http://docs.fabfile.org/">Fabric</a>, <a href="https://github.com/Pylons/weberror">WebError</a>, <a href="http://repozeprofile.readthedocs.io/en/latest/">repoze.profile</a>, <a href="https://pypi.python.org/pypi/Paste">Paste's errorcatcher</a>, <a href="https://pypi.python.org/pypi/arecibo">Arecibo</a>, <a href="http://repozedebug.readthedocs.io/en/latest/">repoze.debug</a>, <a href="https://cd34.com/blog/framework/pylons-1-0-to-pyramid-1-0a1/">Chris Davies' Pylons-to-Pyramid porting guide</a>, <a href="https://cucumber.io/">Cucumber</a>, <a href="https://github.com/rlisagor/freshen">Freshen</a>, <a href="http://www.formencode.org/en/latest/">FormEncode</a>, <a href="https://pypi.python.org/pypi/formish">Formish</a>, <a href="http://docs.pylonsproject.org/projects/deform/en/latest/">Deform</a>, <a href="http://www.zodb.org/en/latest/">ZODB</a>, <a href="http://repozefolder.readthedocs.io/en/latest/">repoze.folder</a>, <a href="http://docs.repoze.org/catalog/">repoze.catalog</a>, <a href="https://webchat.freenode.net/?channels=%23pylons">#pylons IRC channel</a>, <a href="https://pypi.python.org/pypi/Paste">Paste</a>, <a href="https://modwsgi.readthedocs.io/en/develop/">mod_wsgi</a>, <a href="https://uwsgi-docs.readthedocs.io/en/latest/">uwsgi</a>, <a href="http://docs.repoze.org/workflow/">repoze.workflow</a>, <a href="http://docs.pylonsproject.org/projects/colander/en/latest/">Colander</a>, <a href="http://repozetm2.readthedocs.io/en/latest/">repoze.tm2</a>, <a href="https://github.com/Pylons/pyramid_routehelper">pyramid_routehelper</a>, <a href="https://github.com/Pylons/pyramid_beaker">pyramid_beaker</a>, <a href="https://github.com/Pylons/pyramid/blob/master/TODO.txt">the Pyramid todo list</a>, <a href="https://pypi.python.org/pypi/zope.sqlalchemy">zope.sqlalchemy</a>, and the zope <a href="https://pypi.python.org/pypi/transaction">transaction</a> module.</li>
          </ul>
        </div>
        <div class="col-sm-6">
          <h2 class="title text-red">Denials</h2>
          <p>A number of parties have promulgated a certain amount of misinformation regarding the Pyramid project. We would like to officially put to rest some of the wild rumors and extravagant myths that have been circulating in board rooms and chat rooms around the world.</p>
          <ul>
            <li>Pyramid is not built by aliens.</li>
            <li>These aliens are not telepathic. They do not look like human babies.</li>
            <li>Pyramid was not conceived from inside of a pyramid.</li>
            <li>The pyramid is not black. It does not shoot a beam of light out of its top.</li>
            <li>That beam of light is not a communications link to a more massive black pyramid that is orbiting the earth.</li>
            <li>This space pyramid, as it were, does not use light bending technology to make itself invisible.</li>
            <li>The Pyramid developers are not members of a shadow government.</li>
            <li>Neither are they performing experiments on the dark side of the moon, where they can work unobserved.</li>
            <li>The Pyramid developers do not worship an ancient crocodile god.</li>
            <li>The source code for Pyramid is not over 5,000 years old.</li>
            <li>The source code for Pyramid was not discovered carved into stone tablets in the Karnak temple complex. It was not translated to Python from hieroglyphs.</li>
            <li>The Pyramid developers do not have a giant, magic eye they use to spy on their enemies.</li>
            <li>Pyramid is not "doing something weird" to your code during application initialization.</li>
          </ul>

          <p>We hope that these denials are sufficient to put to rest some of the wild speculation that has been circulating about the Pyramid project. We're not sure where people get such wild ideas. We hope that people will refrain from spreading such slanderous lies in the future.</p>
        </div>
      </div>
    </div>
  </section>

</div>

<%- include partials/bottom %>

