<%- include partials/top %>

<div class="page">

  <section class="section-content section-gray">
    <div class="container">
      <h1 class="title text-red">Pyramid web framework documentation</h1>
      <p>The Pyramid web framework has full and detailed documentation in various formats.</p>
    </div>
  </section>

  <section class="section-content">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="title text-red">Documentation</h2>
          <p>Pyramid narrative and API documentation is available in HTML, PDF, and ePub formats.</p>
          <table class="table table-hover table-condensed">
            <tbody>
              <tr class="success">
                <td>1.10</td>
                <td><a href="http://docs.pylonsproject.org/projects/pyramid/en/1.10-branch/">HTML</a></td>
                <td><a href="http://media.readthedocs.org/pdf/pyramid/1.10-branch/pyramid.pdf">PDF</a></td>
                <td><a href="http://media.readthedocs.org/epub/pyramid/1.10-branch/pyramid.epub">ePub</a></td>
                <td>The current and stable release branch (latest)</td>
              </tr>
              <!--<tr class="info">
                <td>2.0 pre-release</td>
                <td><a href="http://docs.pylonsproject.org/projects/pyramid/en/2.0-branch/">HTML</a></td>
                <td><a href="http://media.readthedocs.org/pdf/pyramid/2.0-branch/pyramid.pdf">PDF</a></td>
                <td><a href="http://media.readthedocs.org/epub/pyramid/2.0-branch/pyramid.epub">ePub</a></td>
                <td>The in-development branch, now in pre-release (2.0-branch)</td>
              </tr>-->
              <tr class="danger">
                <td>Development</td>
                <td><a href="http://docs.pylonsproject.org/projects/pyramid/en/master/">HTML</a></td>
                <td><a href="http://media.readthedocs.org/pdf/pyramid/master/pyramid.pdf">PDF</a></td>
                <td><a href="http://media.readthedocs.org/epub/pyramid/master/pyramid.epub">ePub</a></td>
                <td>The in-development branch (master)</td>
              </tr>
              <tr class="warning">
                <td>1.9</td>
                <td><a href="http://docs.pylonsproject.org/projects/pyramid/en/1.9-branch/">HTML</a></td>
                <td><a href="http://media.readthedocs.org/pdf/pyramid/1.9-branch/pyramid.pdf">PDF</a></td>
                <td><a href="http://media.readthedocs.org/epub/pyramid/1.9-branch/pyramid.epub">ePub</a></td>
                <td>The oldest maintained branch</td>
              </tr>
              <tr>
                <td colspan=5">Previous versions (HTML):
                    <a href="http://docs.pylonsproject.org/projects/pyramid/en/1.8-branch/">1.8</a> |
                    <a href="http://docs.pylonsproject.org/projects/pyramid/en/1.7-branch/">1.7</a> |
                    <a href="http://docs.pylonsproject.org/projects/pyramid/en/1.6-branch/">1.6</a> |
                    <a href="http://docs.pylonsproject.org/projects/pyramid/en/1.5-branch/">1.5</a> |
                    <a href="http://docs.pylonsproject.org/projects/pyramid/en/1.4-branch/">1.4</a> |
                    <a href="http://docs.pylonsproject.org/projects/pyramid/en/1.3-branch/">1.3</a> |
                    <a href="http://docs.pylonsproject.org/projects/pyramid/en/1.2-branch/">1.2</a> |
                    <a href="http://docs.pylonsproject.org/projects/pyramid/en/1.1-branch/">1.1</a> |
                    <a href="http://docs.pylonsproject.org/projects/pyramid/en/1.0-branch/">1.0</a>
                </td>
              </tr>
            </tbody>
          </table>
          <p>The two most recently released minor versions are actively maintained by Pyramid's core developers. If a pull request for an older version is submitted by the community, we will publish a fix. See also <a href="https://docs.pylonsproject.org/projects/pyramid/en/latest/narr/upgrading.html">Upgrading Pyramid</a> for advice on how to upgrade your Pyramid application.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <h2 class="title text-red">Learn</h2>
          <dl>
            <dt>
              <a href="http://docs.pylonsproject.org/projects/pyramid-tutorials/en/latest/">
                Tutorials
              </a>
            </dt>
            <dd>
              <p>List of official and community-contributed tutorials.</p>
            </dd>
            <dt>
              <a href="http://docs.pylonsproject.org/projects/pyramid/en/latest/quick_tutorial/index.html">
                Quick Tutorial
              </a>
            </dt>
            <dd>
              <p>An introduction to writing basic web applications using Pyramid.</p>
            </dd>
            <dt>
              <a href="http://docs.pylonsproject.org/projects/pyramid-cookbook/en/latest/">
                Cookbook
              </a>
            </dt>
            <dd>
              <p>Recipes for deployment, debugging, authentication, and authorization.</p>
            </dd>
          </dl>
        </div>
        <div class="col-sm-6">
          <h2 class="title text-red">Source</h2>
          <dl>
            <dt>
              <a href="https://github.com/Pylons/pyramid">
                Pyramid code repository
              </a>
            </dt>
            <dd>
              <p>The "master" branch is the bleeding edge. Use git to switch to a specific release branch.</p>
            </dd>
            <dt>
              <a href="resources-extending-pyramid.html">
                Extending Pyramid
              </a>
            </dt>
            <dd>
              <p>Modules and plug-ins for extending your Pyramid app.</p>
            </dd>
          </dl>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <h2 class="title text-red">Features</h2>
          <dl>
            <dt>
              <a href="http://docs.pylonsproject.org/projects/pyramid/en/latest/quick_tour.html">
                Quick Tour
              </a>
            </dt>
            <dd>
              <p>Overview of all features.</p>
            </dd>
          </dl>
        </div>
        <div class="col-sm-6">
          <h2 class="title text-red">Help</h2>
          <dl>
            <dt>
              <a href="http://docs.pylonsproject.org/projects/pyramid/en/latest/#support-and-development">
                Get Support
              </a>
            </dt>
            <dd>
              <p>How to ask questions and get answers through our discussion list, GitHub issue tracker, and IRC channel.</p>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </section>

</div>

<%- include partials/bottom %>

