{% extends './layout/default.html' %}

{% block content %}
<div class="hero-header">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="tagline">
          <h1>
            the start <span class="emphasis">Small</span><br>
            finish <span class="emphasis">Big</span><br>
            stay <span class="emphasis">Finished</span><br>
            framework
          </h1>
        </div>
        <div class="elevator-speech">
          Projects with ambition
          <a href="#start-small">start small</a>
          but
          <a href="#finish-big">finish big</a>
          and must
          <a href="#stay-finished">stay finished</a>.<br class="hidden-sm">
          You need a Python web framework that
          <a href="#supports-your-decisions">supports your
            decisions</a>,<br class="hidden-sm">
          <a href="#artisans">by artisans for
          artisans</a>.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="try-pyramid">
  <div class="container">
    TRY PYRAMID
  </div>
</div>

<div class="need-pyramid">
  <div class="container">
    NEED PYRAMID
  </div>
</div>

<div class="start-small">
  <div class="container">
    START SMALL
  </div>
</div>

<div class="finish-big">
  <div class="container">
    FINISH BIG
  </div>
</div>

<div class="stay-finished">
  <div class="container">
    STAY FINISHED
  </div>
</div>

<div class="supports-your-decisions">
  <div class="container">
    SUPPORTS YOUR DECISIONS
  </div>
</div>

<div class="by-artisans-for-artisans">
  <div class="container">
    BY ARTISANS FOR ARTISANS
  </div>
</div>

{% endblock %}
