{% extends './layout/home.html' %}

{% block content %}
<div class="home">

  <section class="hero-header">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="tagline">
            <h1>
              <span class="emphasis title">Pyramid</span><br>
              The Start <span class="emphasis">Small</span><br>
              Finish <span class="emphasis">Big</span><br>
              Stay <span class="emphasis">Finished</span><br>
              Framework
            </h1>
          </div>
          <div class="elevator-speech">
            Projects with ambition
            <a href="#start-small">start small</a>
            but
            <a href="#finish-big">finish big</a>
            and must
            <a href="#stay-finished">stay finished</a>.<br class="hidden-sm">
            You need a Python web framework that
            <a href="#supports-your-decisions">supports your decisions</a>,<br class="hidden-sm">
            <a href="#artisans">by artisans for artisans</a>.
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="try-pyramid">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="title text-red">Try <strong>Pyramid</strong></h1>
        </div>
        <div class="col-md-6">
          <h3 class="title">Pyramid Hello World Application</h3>
          <pre class="nobs">
            <code class="python">from pyramid.config import Configurator
from pyramid.response import Response
from waitress import serve

def hello_world(request):
  return Response('Hello world!')

def create_app():
  config = Configurator()
  config.add_route('hello_world', '/')
  config.add_view(hello_world, route_name='hello_world')

  app = config.make_wsgi_app()
  return app

if __name__ == '__main__':
  app = create_app()
  serve(app)</code>
          </pre>
        </div>
        <div class="col-md-6">
          <h3 class="title">Pyramid is easy to set up and use</h3>
          <p>Let's create a minimal web application in 5 minutes using Python 3.</p>
          <h4>Install Python</h4>
          <p>Install the latest Python 3 from <a href="https://www.python.org/downloads/">Python.org</a>.</p>
          <h4>Install Pyramid</h4>
          <p>Issue the following commands in a terminal.</p>
          <pre class="nobs">
            <code class="bash">$ pyvenv myproject
$ cd myproject
$ bin/pip install pyramid waitress</code>
          </pre>
          <h4>Create your first app</h4>
          <p>Using your editor, put the <strong>Pyramid Hello World Application</strong> code into a new file named <code>app.py</code>.</p>
          <h4>Run your app</h4>
          <pre class="nobs">
            <code class="bash">$ bin/python app.py</code>
          </pre>
          <h4>Open your app</h4>
          <p>Visit the URL <a href="http://0.0.0.0:8080"><code>http://0.0.0.0:8080</code></a> in a web browser.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="need-pyramid">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h1 class="title text-green dark">
            When You Need <strong>Pyramid</strong>
          </h1>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <p><strong>Megaframeworks</strong> make decisions for you. But if you don't fit their viewpoint, you end up fighting their decisions. <strong>Microframeworks</strong> force no decisions, making it easy to start. But as your application grows, you're on your own.</p>
        </div>
        <div class="col-md-5">
          <p>In both cases, the focus is on the <strong>start</strong>: either too much or too little. Either way, finishing and staying finished is hard. You need a <strong>finishing-focused</strong> framework with an architectural design that scales down to getting started, then up as your application grows.</p>
        </div>
        <div class="col-md-10 col-md-offset-1">
          <p><strong>Pyramid</strong> was made for just this. It's a Goldilocks Solution: not too small, not too big, just right. <strong>Pyramid</strong>: The Start <strong>Small</strong>, Finish <strong>Big</strong>, Stay <strong>Finished</strong> Framework.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="start-small">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="title text-red">Start <strong>Small</strong></h1>
        </div>
        <div class="col-md-6">
          <p>Getting started quickly and simply is a key attraction of lightweight frameworks. Equally, you get to choose what approaches to use for templating, database, security, and more, or use a convenient starting point with a scaffold. Pyramid excels at scaling down to the first hour of learning, while avoiding the pitfalls of framework magic.</p>
          <p class="hidden-xs hidden-sm icon-block">
            <i class="fa fa-12x fa-compress text-red"></i>
          </p>
        </div>
        <div class="col-md-6">
          <ul class="features">
            <li>Start as a single-file module with little first-hour complexity</li>
            <li>Use a convenient scaffold to generate a sample project with your combination of subsystems</li>
            <li>Choose from a variety of templating, database, security solutions and more using the quality and convenience of Pyramid's add-on system</li>
            <li>Tap into a variety of high-quality evaluator and advanced developer documentation</li>
            <li>Ask the growing Pyramid community for tips and successes</li>
          </ul>
        </div>
    </div>
  </section>

  <section class="finish-big">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="title text-green dark">
            Finish <strong>Big</strong>
          </h1>
        </div>
        <div class="col-md-6">
          <p>Ambitious projects aspire to grow big without losing their dignity. Pyramid is uniquely equipped to scale with you. Its configuration, extension, and add-on system gives the skeleton to support your ambitions, and its architecture ensures that you don't lose those performance and quality features you started with.</p>
          <p class="hidden-xs hidden-sm icon-block">
            <i class="fa fa-12x fa-expand text-green dark"></i>
          </p>
        </div>
        <div class="col-md-6">
          <ul class="features">
            <li>Include <em>and</em> configure Pyramid add-ons inside your application</li>
            <li>Override and customize core code and add-ons from the outside, without forking</li>
            <li>Build and deliver re-usable subsystems inside and outside our organization</li>
            <li>Less magic by forgoing globals and importside-effects</li>
            <li>Use the configuration system to keep your wiring separate from your code</li>
            <li>Numerous extension facilities built into the framework</li>
            <li>Use Pyramid as a "framework framework" to craft your own special-purpose, domain-specific web system</li>
            <li>Gain insight from our longstanding culture of systems that organically get big</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="stay-finished">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="title text-red">
            Stay <strong>Finished</strong>
          </h1>
        </div>
        <div class="col-md-6">
          <p>Pyramid's simple first hour helps you get started and its extensability help you finish your ambitions. There's life after shipping. Pyramid helps keep your application finished by understanding the full lifecyle of a professional web application.</p>
          <p class="hidden-xs hidden-sm icon-block">
            <i class="fa fa-10x fa-puzzle-piece text-red"></i>
          </p>
        </div>
        <div class="col-md-6">
          <ul class="features">
            <li>Deep commitment to API stability and bug fixing over the 120+ software releases</li>
            <li>Culture of 100% test and documentation coverage makes Pyramid a future-proof choice</li>
            <li>Keeping configuration out of code means less forking and side-effects</li>
            <li>Long history of repeatable deployments provides a community culture of helpful tips</li>
            <li>Top-notch performance even as Pyramid grows</li>
            <li>Deep extensibility and large-scale design patterns means you won't outgrow it</li>
            <li>Strong following of Python practices (WSGI, packages, virtual environments, first to support Python 3) means you won't be out of the Python mainstream</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="supports-your-decisions">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="title text-green dark">
            Supports Your <strong>Decisions</strong>
          </h1>
        </div>
        <div class="col-md-6">
          <p>Full-stack frameworks provide built-in value by telling you what to do. But doing something different, or using something better, leads to the dreaded "fighting the framework". Pyramid starts from a very small base, providing many high-quality choices.</p>
          <p class="hidden-xs hidden-sm icon-block">
            <i class="fa fa-10x fa-terminal text-green dark"></i>
          </p>
        </div>
        <div class="col-md-6">
          <ul class="features">
            <li>Don't waste time fighting the framework's decisions.</li>
            <li>"Only pay for what you eat" means less magic to live with in production</li>
            <li>No bundled templating system but instead, three very high-quality add-ons</li>
            <li>Several form systems covering most of the common design tastes</li>
            <li>Deep integration with SQLAlchemy for best-of-breed ORM</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="by-artisans-for-artisans">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="title text-red">
            By <strong>Artisans</strong>, For <strong>Artisans</strong>
          </h1>
        </div>
        <div class="col-md-6">
          <p>The Pyramid team has been doing ambitious Python web frameworks since 1995. We have built small systems and huge systems. From this, we delight in helping others who appreciate quality and dream big.</p>
          <p class="hidden-xs hidden-sm icon-block">
            <i class="fa fa-10x fa-code text-red"></i>
          </p>
        </div>
        <div class="col-md-6">
          <ul class="features">
            <li>Builders of the first open source application server</li>
            <li>Bootstrapper of the PSF and member of its first board</li>
            <li>Support letting quality artisans add real value by quickly but durably making specific experiences</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

</div>
{% endblock %}
