{% extends './layout/home.html' %}

{% block content %}
<div class="home">

  <section class="hero-header">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="tagline">
            <h1>
              <span class="emphasis title">Pyramid</span><br>
              The Start <span class="emphasis">Small</span>,
              Finish <span class="emphasis">Big</span>&nbsp;<br class="hidden-xs">
              Stay <span class="emphasis">Finished</span> Framework
            </h1>
          </div>
          <div class="elevator-speech">
            Projects with ambition
            <span class="text-white">start small</span>
            but
            <span class="text-white">finish big</span>
            and must
            <span class="text-white">stay finished</span>.&nbsp;<br class="hidden-xs">
            You need a Python web framework that
            <span class="text-white">supports your decisions</span>,&nbsp;<br class="hidden-xs">
            <span class="text-white">by artisans for artisans</span>.
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="try-pyramid">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="title text-red">Try <strong>Pyramid</strong></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <pre class="nobs">
            <code class="python">config.add_view(
    'mypackage.views.my_view',
    route_name='ok',
    request_method=('POST')
    )</code>
          </pre>
        </div>
        <div class="col-md-6">
          <h3 class="title">Predicates</h3>
          <p>A test which returns True or False, and which narrows the set of
            circumstances in which views or routes may be called. Here we use
            predicates to limit matching of a view callable to a route name of
            "ok" and to the POST HTTP request method.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <pre class="nobs">
            <code class="python">from wsgiref.simple_server import make_server
from pyramid.config import Configurator
from pyramid.response import Response</code>
          </pre>
        </div>
        <div class="col-md-6">
          <h3 class="title">Renderers</h3>
          <p>Herp dee derp.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <pre class="nobs">
            <code class="python">from wsgiref.simple_server import make_server
from pyramid.config import Configurator
from pyramid.response import Response</code>
          </pre>
        </div>
        <div class="col-md-6">
          <h3 class="title">Asset Specifications</h3>
          <p>Herp dee derp.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="need-pyramid">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h1 class="title text-green dark">
            When You Need <strong>Pyramid</strong>
          </h1>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <p><strong>Megaframeworks</strong> make decisions for you. But if you don't fit their viewpoint, you end up fighting their decisions. <strong>Microframeworks</strong> force no decisions, making it easy to start. But as your application grows, you're on your own.</p>
          <p>In both cases, the focus is on the <strong>start</strong>: either too much or too little. Either way, finishing and staying finished is hard. You need a <strong>finishing-focused</strong> framework with an architectural design that scales down to getting started, then up as your application grows.</p>
        </div>
        <div class="col-md-5 feature">
          <p><strong>Pyramid</strong> was made for just this. It's a Goldilocks Solution: not too small, not too big, just right.</p>
          <p><strong>Pyramid</strong> The Start <strong>Small</strong>, Finish <strong>Big</strong>, Stay <strong>Finished</strong> Framework.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section-content">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h1 class="title text-red">
            Start <strong>Small</strong>
          </h1>
          <i class="fa fa-6x fa-compress text-red pull-right"></i>
          <p>Getting started quickly and simply is a key attraction of lightweight frameworks. Equally, you get to choose what approaches to use for templating, database, security, and more, or use a convenient starting point with a scaffold. Pyramid excels at scaling down to the first hour of learning, while avoiding the pitfalls of framework magic.</p>
          <ul class="features">
            <li>Start as a <strong>single-file module</strong> with little first-hour complexity</li>
            <li>Use a <strong>convenient scaffold</strong> to generate a sample project with your combination of subsystems</li>
            <li>Choose from a variety of <strong>templating, database, security solutions</strong> and more using the quality and convenience of Pyramid's add-on system</li>
            <li>Tap into a variety of <strong>high-quality</strong> evaluator and advanced developer <strong>documentation</strong></li>
            <li><strong>Ask</strong> the growing <strong>Pyramid community</strong> for tips and successes</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h1 class="title not-first text-red">
            Finish <strong>Big</strong>
          </h1>
          <i class="fa fa-6x fa-expand text-red pull-right"></i>
          <p>Ambitious projects aspire to grow big without losing their dignity. Pyramid is uniquely equipped to scale with you. Its configuration, extension, and add-on system gives the skeleton to support your ambitions, and its architecture ensures that you don't lose those performance and quality features you started with.</p>
          <ul class="features">
            <li><strong>Include and configure</strong> Pyramid add-ons inside your application</li>
            <li><strong>Override and customize</strong> core code and add-ons from the outside, without forking</li>
            <li>Build and deliver <strong>re-usable subsystems</strong> inside and outside our organization</li>
            <li><strong>Less magic</strong> by forgoing globals and importside-effects</li>
            <li>Use the <strong>configuration system</strong> to keep your wiring separate from your code</li>
            <li>Numerous <strong>extension facilities</strong> built into the framework</li>
            <li>Use Pyramid as a <strong>"framework framework"</strong> to craft your own special-purpose, domain-specific web system</li>
            <li>Gain insight from our long-standing <strong>culture of systems</strong> that organically get big</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h1 class="title not-first text-red">
            Stay <strong>Finished</strong>
          </h1>
          <i class="fa fa-6x fa-trophy text-red pull-right"></i>
          <p>Pyramid's simple first hour helps you get started and its extensability helps you finish your ambitions. There's life after shipping. Pyramid helps keep your application finished by understanding the full life cycle of a professional web application.</p>
          <ul class="features">
            <li>Deep commitment to <strong>API stability</strong> and <strong>bug fixing</strong> over the 120+ software releases</li>
            <li>Culture of <strong>100% test and documentation coverage</strong> makes Pyramid a future-proof choice</li>
            <li>Keeping configuration out of code means <strong>less forking</strong> and side-effects</li>
            <li>Long history of <strong>repeatable deployments</strong> provides a community culture of helpful tips</li>
            <li>Top-notch <strong>performance</strong> even as Pyramid grows</li>
            <li>Deep <strong>extensibility</strong> and large-scale <strong>design patterns</strong> means you won't outgrow it</li>
            <li>Strong following of <strong>Python practices</strong> (WSGI, packages, virtual environments, first to support Python 3) means you won't be out of the Python mainstream</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="section-content section-beige">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="title text-green dark">
            Supports Your <strong>Decisions</strong>
          </h1>
          <i class="fa fa-6x fa-cogs text-green dark pull-right"></i>
          <p>Full-stack frameworks provide built-in value by telling you what to do. But doing something different, or using something better, leads to the dreaded "fighting the framework". Pyramid starts from a very small base, providing many high-quality choices.</p>
          <ul class="features">
            <li><strong>Don't waste time</strong> fighting the framework's decisions</li>
            <li><strong>"Only pay for what you eat"</strong> means less magic to live with in production</li>
            <li><strong>No bundled templating</strong> system but instead, three very <strong>high-quality add-ons</strong> for <strong>Chameleon</strong>, <strong>Jinja2</strong> and <strong>Mako</strong></li>
            <li>Several <strong>form systems</strong> covering most of the common design tastes</li>
            <li>Choose your database, with add-on support for
              <strong>SQLAlchemy</strong> and others</li>
          </ul>
        </div>
        <div class="col-md-6">
          <h1 class="title not-first text-green dark">
            By <strong>Artisans</strong>, For <strong>Artisans</strong>
          </h1>
          <i class="fa fa-6x fa-code text-green dark pull-right"></i>
          <p>The Pyramid team has been doing ambitious Python web frameworks since 1995. We have built small systems and huge systems. From this, we delight in helping others who appreciate quality and dream big.</p>
          <ul class="features">
            <li><strong>Craftsmanship</strong> with seriousness of
              purpose and honesty</li>
            <li>From the start, a deep
              commitment to <strong>quality</strong></li>
            <li><strong>Builders</strong> of the first open source application server</li>
            <li><strong>Bootstrapper</strong> of the PSF and member of its first board</li>
            <li>Support letting <strong>quality artisans</strong> add <strong>real value</strong> by quickly but durably making specific experiences</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

</div>
{% endblock %}
