<%- include partials/top %>

<div class="page">

  <section class="section-content">
    <div class="container">
      <h1 class="title text-red">Artwork</h1>
      <p>When placing our artwork on your website or other media, we ask that you follow
      our usage guidelines.</p>
      <dl><dt>Links</dt><dd>Include a link to our official Pyramid website with the following HTML code.
          <pre><code class="html hljs">&lt;a href="https://trypyramid.com"&gt;https://trypyramid.com&lt;/a&gt;</code></pre></dd></dl>
      <dl><dt>Sizing</dt><dd>You may resize images, but you should preserve the aspect ratio to avoid distortion.</dd></dl>
      <dl><dt>Quality</dt><dd>For best quality, SVG format is preferred, followed by PNG, then JPEG.</dd></dl>
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-red">Pyramid logos</h2>
          <p>Insert official Pyramid logo for download.</p>
          <h2 class="text-red">Powered by Pyramid buttons</h2>
          <p>Use the following HTML to place a "Powered by Pyramid" button on your website.</p>
          <pre><code class="html">&lt;a href="https://trypyramid.com/"&gt;
  &lt;img src="https://cloud.githubusercontent.com/assets/454978/12096586/46018b4a-b2e4-11e5-9d98-ba107e6c5075.png"&gt;
&lt;/a&gt;</code></pre>
          <p>
            <a href="https://github.com/stevepiercy/trypyramid.com/edit/page-powered-by-pyramid/src/templates/resources.html">Submit a pull request</a> to add your company, organization, or project to the
            <a href="/powered-by-pyramid.html">Powered by Pyramid page.</a></p>
          <p>
            <img src="https://cloud.githubusercontent.com/assets/454978/12096586/46018b4a-b2e4-11e5-9d98-ba107e6c5075.png">
          </p>


          <h2 class="text-red">Desktops</h2>
          <h3>Not Built By Aliens #1</h3>
          <p>
            <img alt="Not Built By Aliens #1 Desktop Image" src="http://docs.pylonsproject.org/en/latest/_images/pyramid-aliens1-320X200.jpg">
          </p>
          <ul>
            <li>
              <a href="http://docs.pylonsproject.org/en/latest/_downloads/pyramid-aliens1-1024X640.jpg">Desktop 1024x640</a>
            </li>
            <li>
              <a href="http://docs.pylonsproject.org/en/latest/_downloads/pyramid-aliens1-1440X900.jpg">Desktop 1440x900</a>
            </li>
            <li>
              <a href="http://docs.pylonsproject.org/en/latest/_downloads/pyramid-aliens1-1680X1050.jpg">Desktop 1680x1050</a>
            </li>
            <li>
              <a href="http://docs.pylonsproject.org/en/latest/_downloads/pyramid-aliens1-1920X1200.jpg">Desktop 1920x1200</a>
            </li>
          </ul>
          <h3>Not Built By Aliens #2</h3>
          <p>
            <img alt="Not Built By Aliens #2 Desktop Image" src="http://docs.pylonsproject.org/en/latest/_images/pyramid-aliens2-320X200.jpg">
          </p>
          <ul>
            <li>
              <a href="http://docs.pylonsproject.org/en/latest/_downloads/pyramid-aliens2-1024X640.jpg">Desktop 1024x640</a>
            </li>
            <li>
              <a href="http://docs.pylonsproject.org/en/latest/_downloads/pyramid-aliens2-1440X900.jpg">Desktop 1440x900</a>
            </li>
            <li>
              <a href="http://docs.pylonsproject.org/en/latest/_downloads/pyramid-aliens2-1680X1050.jpg">Desktop 1680x1050</a>
            </li>
            <li>
              <a href="http://docs.pylonsproject.org/en/latest/_downloads/pyramid-aliens2-1920X1200.jpg">Desktop 1920x1200</a>
            </li>
          </ul>
        </div>

      </div>

    </div>
  </section>

</div>

<%- include partials/bottom %>
