{% extends './layout/home.html' %} {% block content %}
  <section id="main">
    <section class="section-content">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="title text-red">Pyramid add-ons</h1>
            <p>Pyramid add-ons extend the functionality of Pyramid, such as adding an ORM, sending email, or using a template-based language. The Python Package Index trove classifier "<a href="https://pypi.python.org/pypi?:action=browse&c=582">Framework :: Pyramid</a>" is used by 348 packages. Official add-ons and add-ons from the comunity are listed below.</p>

            <h2>
              Supported add-ons
            </h2>
            <p>The following Pyramid add-ons are officially endorsed by the Pylons Project. Documentation for each add-on is hosted at its respective name under the Pylons Project.</p>
            <p>
              <a href="/projects/pyramid-chameleon/en/latest/">pyramid_chameleon</a>
            </p>
            <ul>
              <li>Chameleon templating bindings for Pyramid</li>
              <li>Maintained by: Chris McDonough</li>
              <li>Version Control:
                <a href="https://github.com/Pylons/pyramid_chameleon">https://github.com/Pylons/pyramid_chameleon</a>
              </li>
            </ul>

            <p>
              <a href="/projects/pyramid-debugtoolbar/en/latest/">pyramid_debugtoolbar</a>
            </p>
            <ul>
              <li>An interactive HTML debug toolbar for Pyramid.</li>
              <li>Maintained by: Chris McDonough, Blaise Laflamme</li>
              <li>Version Control:
                <a href="https://github.com/Pylons/pyramid_debugtoolbar">https://github.com/Pylons/pyramid_debugtoolbar</a>
              </li>
            </ul>

            <p><a href="/projects/pyramid-exclog/en/latest/">pyramid_exclog</a>
            </p>
            <ul>
              <li>A package which logs exceptions from Pyramid applications.</li>
              <li>Maintained by: Chris McDonough</li>
              <li>Version Control:
                <a href="https://github.com/Pylons/pyramid_exclog">https://github.com/Pylons/pyramid_exclog</a>
              </li>
            </ul>

            <p>
              <a href="/projects/pyramid-handlers/en/latest/">pyramid_handlers</a>
            </p>
            <ul>
              <li>Analogue of Pylons-style &#8220;controllers&#8221; for Pyramid.</li>
              <li>Maintained by: Ben Bangert, Chris McDonough</li>
              <li>Version Control:
                <a href="https://github.com/Pylons/pyramid_handlers">https://github.com/Pylons/pyramid_handlers</a>
              </li>
            </ul>

            <p><a href="/projects/pyramid-jinja2/en/latest/">pyramid_jinja2</a>
            </p>
            <ul>
              <li>
                <a href="http://jinja.pocoo.org/">Jinja2</a> template renderer for Pyramid
              </li>
              <li>Maintained by: Domen Kožar</li>
              <li>Version Control:
                <a href="https://github.com/Pylons/pyramid_jinja2">https://github.com/Pylons/pyramid_jinja2</a>
              </li>
            </ul>

            <p><a href="/projects/pyramid-jqm/en/latest/">pyramid_jqm</a></p>
            <ul>
              <li>Scaffolding for developing jQuery Mobile apps with Pyramid.</li>
              <li>Maintained by: Chris McDonough</li>
              <li>Version Control:
                <a href="https://github.com/Pylons/pyramid_jqm">https://github.com/Pylons/pyramid_jqm</a>
              </li>
            </ul>

            <p><a href="/projects/pyramid-layout/en/latest/">pyramid_layout</a>
            </p>
            <ul>
              <li>Pyramid add-on for managing UI layouts.</li>
              <li>Maintained by: Chris Rossi, Paul Everitt, Blaise Laflamme</li>
              <li>Version Control:
                <a href="https://github.com/Pylons/pyramid_layout">https://github.com/Pylons/pyramid_layout</a>
              </li>
            </ul>

            <p><a href="/projects/pyramid-ldap/en/latest/">pyramid_ldap</a></p>
            <ul>
              <li>An LDAP authentication policy for Pyramid.</li>
              <li>Maintained by: Chris McDonough</li>
              <li>Version Control:
                <a href="https://github.com/Pylons/pyramid_ldap">https://github.com/Pylons/pyramid_ldap</a>
              </li>
            </ul>

            <p><a href="/projects/pyramid-mailer/en/latest/">pyramid_mailer</a>
            </p>
            <ul>
              <li>A package for the Pyramid framework to take the pain out of sending emails.</li>
              <li>Maintained by: Dan Jacobs, Chris McDonough</li>
              <li>Version Control:
                <a href="https://github.com/Pylons/pyramid_mailer">https://github.com/Pylons/pyramid_mailer</a>
              </li>
            </ul>

            <p><a href="/projects/pyramid-mako/en/latest/">pyramid_mako</a></p>
            <ul>
              <li>Mako templating bindings for Pyramid.</li>
              <li>Maintained by: Bert JW Regeer</li>
              <li>Version Control:
                <a href="https://github.com/Pylons/pyramid_mako">https://github.com/Pylons/pyramid_mako</a>
              </li>
            </ul>

            <p>
              <a href="/projects/pyramid-nacl-session/en/latest/">pyramid_nacl_session</a>
            </p>
            <ul>
              <li>Defines an encrypting, pickle-based cookie serializer, using
                <a href="http://pynacl.readthedocs.org/en/latest/secret/">PyNaCl</a> to generate the symmetric encryption for the cookie state.
              </li>
              <li>Maintained by: Tres Seaver</li>
              <li>Version Control:
                <a href="https://github.com/Pylons/pyramid_nacl_session">https://github.com/Pylons/pyramid_nacl_session</a>
              </li>
            </ul>

            <p><a href="/projects/pyramid-rpc/en/latest/">pyramid_rpc</a></p>
            <ul>
              <li>RPC service add-on for Pyramid. Supports XML-RPC in a more extensible manner than
                <cite>pyramid_xmlrpc</cite> with support for JSON-RPC and AMF.
              </li>
              <li>Maintained by: Michael Merickel, Ben Bangert</li>
              <li>Version Control:
                <a href="https://github.com/Pylons/pyramid_rpc">https://github.com/Pylons/pyramid_rpc</a>
              </li>
            </ul>

            <p><a href="/projects/pyramid-tm/en/latest/">pyramid_tm</a></p>
            <ul>
              <li>Centralized transaction management for Pyramid applications (without middleware).</li>
              <li>Maintained by: Chris McDonough</li>
              <li>Version Control:
                <a href="https://github.com/Pylons/pyramid_tm">https://github.com/Pylons/pyramid_tm</a>
              </li>
            </ul>

            <p><a href="/projects/pyramid-who/en/latest/">pyramid_who</a></p>
            <ul>
              <li>Authentication policy for Pyramid using repoze.who 2.0 API.</li>
              <li>Maintained by: Chris McDonough, Tres Seaver</li>
              <li>Version Control:
                <a href="https://github.com/Pylons/pyramid_who">https://github.com/Pylons/pyramid_who</a>
              </li>
            </ul>

            <p><a href="/projects/pyramid-xmlrpc/en/latest/">pyramid_xmlrpc</a>
            </p>
            <ul>
              <li>XML-RPC add-on for Pyramid</li>
              <li>Maintained by: Chris McDonough</li>
              <li>Version Control:
                <a href="https://github.com/Pylons/pyramid_xmlrpc">https://github.com/Pylons/pyramid_xmlrpc</a>
              </li>
            </ul>

            <p><a href="/projects/pyramid-zcml/en/latest/">pyramid_zcml</a></p>
            <ul>
              <li>Zope Configuration Markup Language configuration support for Pyramid.</li>
              <li>Maintained by: Chris McDonough</li>
              <li>Version Control:
                <a href="https://github.com/Pylons/pyramid_zcml">https://github.com/Pylons/pyramid_zcml</a>
              </li>
            </ul>

            <p>
              <a href="/projects/pyramid-zodbconn/en/latest/">pyramid_zodbconn</a>
            </p>
            <ul>
              <li>ZODB Database connection management for Pyramid.</li>
              <li>Mantained by: Chris McDonough, Chris Rossi</li>
              <li>Version Control:
                <a href="https://github.com/Pylons/pyramid_zodbconn">https://github.com/Pylons/pyramid_zodbconn</a>
              </li>
            </ul>

            <h2>
              Unsupported add-ons
            </h2>
            <p>These are libraries which used to be officially supported by the Pylons Project, but have since become unsupported.</p>
            <p>
              <a href="/projects/pyramid-beaker/en/latest/">pyramid_beaker</a>
            </p>
            <ul>
              <li>Beaker session backend plug-in.</li>
              <li>Maintained by: Ben Bangert, Chris McDonough</li>
              <li>Version Control:
                <a href="https://github.com/Pylons/pyramid_beaker">https://github.com/Pylons/pyramid_beaker</a>
              </li>
              <li>Became unsupported October 2013 because Beaker itself is no longer maintained.</li>
            </ul>

            <h2>
              Add-ons from the community
            </h2>
            <p>The following libraries are not supported by the Pylons Project, but have varying degrees of tests, documentation, support, and maintenance accorded by their maintainers. Consult the library's project page for details.</p>
            <p>This list includes popular and useful add-ons from the community, placed into categories that most closely describe their function.</p>

            <h3>
              Administration user interfaces
            </h3>
            <p>
              pyramid_formalchemy
            </p>
            <ul>
              <li>Auto-generated, customizable HTML input form fields from your SQLAlchemy mapped classes.</li>
              <li>Maintained by: Gael Pasgrimaud</li>
              <li>PyPI: <a href="https://pypi.python.org/pypi/pyramid_formalchemy">https://pypi.python.org/pypi/pyramid_formalchemy</a></li>
              <li>Version Control: <a href="https://github.com/FormAlchemy/pyramid_formalchemy">https://github.com/FormAlchemy/pyramid_formalchemy</a></li>
              <li>Documentation: <a href="http://docs.formalchemy.org/">http://docs.formalchemy.org/</a></li>
              <li>Demo: <a href="http://docs.formalchemy.org/demo/admin/">http://docs.formalchemy.org/demo/admin/</a></li>
            </ul>

            <p>
              pyramid_sacrud
            </p>
            <ul>
              <li>Pyramid CRUD interface. Provides an administration web interface for Pyramid.</li>
              <li>Maintained by: uralbash</li>
              <li>PyPI: <a href="https://pypi.python.org/pypi/pyramid_sacrud">https://pypi.python.org/pypi/pyramid_sacrud</a></li>
              <li>Version Control: <a href="https://github.com/sacrud/pyramid_sacrud">https://github.com/sacrud/pyramid_sacrud</a></li>
              <li>Documentation: <a href="http://pyramid-sacrud.readthedocs.org/">http://pyramid-sacrud.readthedocs.org/</a></li>
              <li>Extensions:
                <ul>
                  <li><a href="https://github.com/sacrud/ps_alchemy">ps_alchemy</a> - provides SQLAlchemy models.</li>
                  <li><a href="https://github.com/sacrud/ps_tree">ps_tree</a> - displays a list of records as tree. This works fine with models from <a href="https://github.com/uralbash/sqlalchemy_mptt">sqlalchemy_mptt</a>.</li>
                </ul>
              </li>
            </ul>

            <h3>
              Asset management
            </h3>

            <p>
              pyramid_bowerstatic
            </p>
            <ul>
              <li>Integration of Bowerstatic in Pyramid</li>
              <li>Maintained by: mrijken</li>
              <li>PyPI: <a href="https://pypi.python.org/pypi/pyramid_bowerstatic">https://pypi.python.org/pypi/pyramid_bowerstatic</a></li>
              <li>Version Control: <a href="https://github.com/mrijken/pyramid_bowerstatic">https://github.com/mrijken/pyramid_bowerstatic</a></li>
            </ul>

            <p>
              pyramid_webassets
            </p>
            <ul>
              <li>Pyramid extension for working with the webassets library.</li>
              <li>Maintained by: tilgovi, sontek</li>
              <li>PyPI: <a href="https://pypi.python.org/pypi/pyramid_webassets">https://pypi.python.org/pypi/pyramid_webassets</a></li>
              <li>Version Control: <a href="https://github.com/sontek/pyramid_webassets">https://github.com/sontek/pyramid_webassets</a></li>
            </ul>


{#            <h3>#}
{#              Forms#}
{#            </h3>#}
{#            <p>#}
{#              #}
{#            </p>#}
{#            <ul>#}
{#              <li></li>#}
{#              <li>Maintained by: </li>#}
{#              <li>PyPI: <a href=""></a></li>#}
{#              <li>Version Control: <a href=""></a></li>#}
{#              <li>Documentation: <a href=""></a></li>#}
{#              <li>Demo: <a href=""></a></li>#}
{#            </ul>#}


          </div>
        </div>
      </div>
    </section>
  </section>
{% endblock %}
