{% extends './layout/home.html' %}

{% block content %}
    <section id="main">
        <div class="container">
            <h1 class="title text-red">The Pylons Project Resources</h1>

            <p>The Pylons Project maintains the Pyramid web framework as well as additional
                packages intended for use with Pyramid.</p>

            <p>If you are new to the community you can start with
                <a href="http://pyramid-blogr.readthedocs.org/"><strong>our tutorial</strong></a> or dive directly
                into detailed documentation.</p>

            <h2 class="title text-red">Pyramid web framework resources</h2>

            <div class="row">
                <div class="col-sm-1 text-center">
                    <span class="fa fa-graduation-cap fa-4x"></span>
                </div>
                <div class="col-sm-11">
                    <h4><a href="http://pyramid-blogr.readthedocs.org/">Pyramid Blogr</a>: Entry level tutorial.</h4>

                    <p>The tutorial is really simple but should be enough of a head start to writing applications using
                        Pyramid Web Framework. By the end of it you should have a basic understanding of templating,
                        working with databases, using URL routes to launch our business logic(views) and authentication,
                        example of form library usage and pagination by <strong>building a simple blog application from
                        scratch</strong>.</p>
                </div>
            </div>

            <hr/>

            <div class="row">
                <div class="col-sm-1 text-center">
                    <span class="fa fa-book fa-4x"></span>
                </div>
                <div class="col-sm-11">
                    <h4><a href="http://docs.pylonsproject.org/projects/pyramid/en/stable/">Pyramid stable documentation
                        branch</a>: narrative and API documentation for Pyramid.</h4>

                    <p><strong>Have some questions?</strong> The documentation project covers all concepts of python application
                        development
                        with Pyramid - from business logic to routing and flexible permission systems.</p>
                </div>
            </div>

            <hr/>

            <div class="row">
                <div class="col-sm-1 text-center">
                    <span class="fa fa-lightbulb-o fa-4x"></span>
                </div>
                <div class="col-sm-11">
                    <h4><a href="http://docs.pylonsproject.org/projects/pyramid-cookbook/en/latest/">Pyramid cookbook</a>.</h4>

                    <p><strong>Reinventing the wheel?</strong> The Pyramid Cookbook presents topical, practical
                        "recipes" of using Pyramid. It supplements the main documentation..</p>
                </div>
            </div>

            <hr/>

            <div class="row">
                <div class="col-sm-1 text-center">
                    <span class="fa fa-pencil fa-4x"></span>
                </div>
                <div class="col-sm-11">
                    <h4><a href="http://docs.pylonsproject.org/projects/pyramid/en/1.6-branch/">Pyramid development
                        documentation
                        branch</a>: narrative and API documentation for Pyramid’s in-development version.</h4>

                    <p><strong>Want to contribute to Pyramid?</strong> Give us a hand and contact core developers.</p>
                </div>
            </div>

            <hr/>

            <h2 class="title text-red">Pylons web framework resources</h2>

            <div class="row">
                <div class="col-sm-1 text-center">
                    <span class="fa fa-book fa-4x"></span>
                </div>
                <div class="col-sm-11">
                    <h4><a href="http://docs.pylonsproject.org/projects/pylons-webframework/en/latest/">Pylons
                        documentation
                        1.0</a>: official Pylons (the web framework) documentation.</h4>

                    <p>
                        As of the release of Pyramid 1.0 on January 31, 2011, the Pylons web framework has effectively
                        been shifted into "legacy" status.
                    </p>
                </div>
            </div>

            <hr/>

            <div class="row">
                <div class="col-sm-1 text-center">
                    <span class="fa fa-graduation-cap fa-4x"></span>
                </div>
                <div class="col-sm-11">
                    <h4><a href="http://pylonsbook.com/">Definitive Guide to Pylons</a>: Pylons book published by
                        Apress, written by James Gardner, free HTML rendering.</h4>

                    <p>This is an excellent starting material to get yourself familiar with Pylons web application
                        development.</p>
                </div>
            </div>


        </div>
    </section>

{% endblock %}
