{% extends './layout/home.html' %} {% block content %}
<section id="main">
  <div class="container">
    <h1 class="title text-red">Pyramid web framework resources</h1>
    <p>The Pyramid web framework has full and detailed documentation in various formats. Narrative documentation provides usage, examples, and in-depth explanations of what's going on under the hood. API documentation provides technical descriptions of the classes and methods used with Pyramid. Tutorials provide an easy-to-approach guide to using Pyramid by example.</p>
    <div class="row">
      <div class="col-sm-1 text-center">
        <span class="fa fa-book fa-3x"></span>
      </div>
      <div class="col-sm-5">
        <h2 class="title text-red">Documentation</h2>
        <p>Narrative and API documentation for Pyramid</p>
        <dl>
          <dt>
            <a href="http://docs.pylonsproject.org/projects/pyramid/en/latest/">
              Current release
            </a>
          </dt>
          <dd>
            <p>The stable or latest release, v1.5.7.</p>
          </dd>
          <dt>
            <a href="http://docs.pylonsproject.org/projects/pyramid/en/master/">
              Development release
            </a>
          </dt>
          <dd>
            <p>New features ready for testing.</p>
          </dd>
          <dt>
            <a href="http://docs.pylonsproject.org/en/latest/docs/pyramid.html#previous-versions">
              Previous releases
            </a>
          </dt>
          <dd>
            <p>Versions 1.0.x - 1.4.x.</p>
          </dd>
          <dt>
            <a href="http://docs.pylonsproject.org/projects/pyramid/en/latest/quick_tour.html">
              Quick Tour
            </a>
          </dt>
          <dd>
            <p>Overview of all features.</p>
          </dd>
        </dl>
      </div>
      <div class="col-sm-1 text-center">
        <span class="fa fa-graduation-cap fa-3x"></span>
      </div>
      <div class="col-sm-5">
        <h2 class="title text-red">Learn</h2>
        <p>Step-by-step instructions and how-to guides for web apps using Pyramid.</p>
        <dl>
          <dt>
            <a href="http://docs.pylonsproject.org/projects/pyramid-tutorials/en/latest/">
              Tutorials
            </a>
          </dt>
          <dd>
            <p>List of official and community-contributed tutorials.</p>
          </dd>
          <dt>
            <a href="http://docs.pylonsproject.org/projects/pyramid/en/latest/quick_tutorial/index.html">
              Quick Tutorial
            </a>
          </dt>
          <dd>
            <p>An introduction to writing basic web applications using Pyramid.</p>
          </dd>
          <dt>
            <a href="http://docs.pylonsproject.org/projects/pyramid-cookbook/en/latest/">
              Cookbook
            </a>
          </dt>
          <dd>
            <p>Recipes for deployment, debugging, authentication and authorization.</p>
          </dd>
        </dl>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1 text-center">
        <span class="fa fa-question-circle fa-3x"></span>
      </div>
      <div class="col-sm-5">
        <h2 class="title text-red">Help</h2>
        <dl>
          <dt>
            <a href="http://www.pylonsproject.org/community/get-support">
              Get Support
            </a>
          </dt>
          <dd>
            <p>How to ask questions and get answers through our discussion list, GitHub issue tracker, and IRC channel.</p>
          </dd>
        </dl>
      </div>
      <div class="col-sm-1 text-center">
        <span class="fa fa-github fa-3x"></span>
      </div>
      <div class="col-sm-5">
        <h2 class="title text-red">Source</h2>
        <dl>
          <dt>
            <a href="https://github.com/Pylons/pyramid">
              Pyramid repository
            </a>
          </dt>
          <dd>
            <p>The "master" branch is the bleeding edge. Use git to switch to a specific release branch.</p>
          </dd>
          <dt>
            <a href="http://docs.pylonsproject.org/en/latest/docs/pyramid.html#supported-add-ons">
              Supported add-ons
            </a>
          </dt>
          <dd>
            <p>Modules and plug-ins for extending your Pyramid app.</p>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</section>
{% endblock %}
