{% extends './layout/home.html' %}

{% block content %}
    <section id="main">
        <div class="container">
            <h1 class="title text-red">The Pylons Project Resources</h1>

            <p>The Pylons Project maintains the Pyramid web framework as well as additional
                packages intended for use with Pyramid.</p>

            <p>If you are new to the community you can start with
                <a href="http://pyramid-blogr.readthedocs.org/"><strong>our tutorial</strong></a> or dive directly
                into detailed documentation.</p>

            <h2 class="title text-red">Pyramid web framework resources</h2>

            <hr/>

            <div class="row">
                <div class="col-sm-1 text-center">
                    <span class="fa fa-book fa-4x"></span>
                </div>
                <div class="col-sm-11">
                    <h4><a href="http://docs.pylonsproject.org/projects/pyramid/en/stable/">Pyramid stable documentation
                        branch</a>: narrative and API documentation for Pyramid.</h4>

                    <p><strong>Have some questions?</strong> The documentation project covers all concepts of python
                        application
                        development
                        with Pyramid - from business logic to routing and flexible permission systems.</p>

                    <p><a href="http://docs.pylonsproject.org/en/latest/docs/pyramid.html#previous-versions">Previous
                        releases</a> |
                        <a href="http://docs.pylonsproject.org/projects/pyramid/en/latest/quick_tour.html">Quick
                            Tour</a>
                    </p>
                </div>
            </div>

            <hr/>

            <div class="row">
                <div class="col-sm-1 text-center">
                    <span class="fa fa-pencil fa-4x"></span>
                </div>
                <div class="col-sm-11">
                    <h4><a href="http://docs.pylonsproject.org/projects/pyramid/en/1.6-branch/">Pyramid development
                        documentation
                        branch</a>: narrative and API documentation for Pyramid’s in-development version.</h4>

                    <p><strong>Want to contribute to Pyramid?</strong> Give us a hand and contact core developers.</p>
                </div>
            </div>

            <hr/>

            <div class="row">
                <div class="col-sm-1 text-center">
                    <span class="fa fa-graduation-cap fa-4x"></span>
                </div>
                <div class="col-sm-11">
                    <h4><a href="http://pyramid-blogr.readthedocs.org/">Pyramid Blogr</a>: Entry level tutorial.</h4>

                    <p>The tutorial is really simple but should be enough of a head start to writing applications using
                        Pyramid Web Framework. By the end of it you should have a basic understanding of templating,
                        working with databases, using URL routes to launch our business logic(views) and authentication,
                        example of form library usage and pagination by <strong>building a simple blog application from
                            scratch</strong>.</p>
                </div>
            </div>

            <hr/>

            <div class="row">
                <div class="col-sm-1 text-center">
                    <span class="fa fa-graduation-cap fa-4x"></span>
                </div>
                <div class="col-sm-11">
                    <h4><a href="http://docs.pylonsproject.org/projects/pyramid/en/latest/quick_tutorial/index.html">
                        Quick Tutorial</a>: More in-depth topics.</h4>

                    <p>This hands-on tutorial covers "a little about a lot": practical introductions to the most common
                        facilities. Fun, fast-paced, and most certainly not aimed at experts of the Pyramid web
                        framework.</p>
                </div>
            </div>

            <hr/>

            <p>
                Like learning by example? Check out to the
                <a href="http://docs.pylonsproject.org/projects/pyramid-tutorials/en/latest/">
                    <strong>community-contributed Pyramid Tutorials</strong></a>
            </p>

            <hr/>

            <div class="row">
                <div class="col-sm-1 text-center">
                    <span class="fa fa-lightbulb-o fa-4x"></span>
                </div>
                <div class="col-sm-11">
                    <h4><a href="http://docs.pylonsproject.org/projects/pyramid-cookbook/en/latest/">Pyramid
                        cookbook</a>.</h4>

                    <p><strong>Reinventing the wheel?</strong> The Pyramid Cookbook presents topical, practical
                        "recipes" of using Pyramid. It supplements the main documentation.</p>

                    <p>The Pyramid Cookbook is not a source of official Pyramid documentation, but is a collection of
                        contributions from the community</p>
                </div>
            </div>

            <hr/>

            <div class="row">
                <div class="col-sm-1 text-center">
                    <span class="fa fa-question-circle fa-4x"></span>
                </div>
                <div class="col-sm-11">
                    <h4><a href="http://www.pylonsproject.org/community/get-support">Help and Support</a>.</h4>

                    <p>Development questions related to projects under the Pylons Project can be discussed on the
                        pylons-discuss mail list.</p>

                    <p>On IRC, developers are generally available on the #pylons channel on the Freenode IRC Network.
                        Each project may have its own channel, too.</p>

                    <p><strong>Using Support Wisely</strong></p>

                    <p>
                        Before asking a technical question on the mail list(s) or in IRC, please make sure to try the
                        following things (paraphrased from Before You Ask):</p>
                    <ul>
                        <li>Try to find an answer by reading the manual.</li>
                        <li>Try to find an answer by searching the mail list archives or stackoverflow.</li>
                        <li>Try to find an answer by searching the Web.</li>
                        <li>Try to find an answer by inspection or experimentation.</li>
                        <li>If you’re a programmer, try to find an answer by reading the source code.</li>
                    </ul>

                    <p>
                        After exhausting these avenues, it’s completely appropriate to ask a question on
                        the Pylons-discuss mail list or #pylons IRC channel.
                        When you ask your question, please describe what you’ve learned from the efforts above, as it
                        will help the developers focus on answering your question quickly.
                        It also helps tremendously if you are able to provide a code or configuration snippet that makes
                        the problem easily repeatable.
                    </p>
                </div>
            </div>

            <hr/>

            <div class="row">
                <div class="col-sm-1 text-center">
                    <span class="fa fa-github fa-4x"></span>
                </div>
                <div class="col-sm-11">
                    <h4><a href="https://github.com/Pylons/">Source Code</a>.</h4>

                    <p>For the most current list of all repositories and projects under the Pylons Project,
                        visit the Pylons Project organization page on GitHub.</p>
                </div>
            </div>

            <hr/>

            <div class="row">
                <div class="col-sm-1 text-center">
                    <span class="fa fa-cogs fa-4x"></span>
                </div>
                <div class="col-sm-11">
                    <h4><a href="http://docs.pylonsproject.org/en/latest/docs/pyramid.html#supported-add-ons">
                        Supported Add-ons</a>.</h4>

                    <p>There are lots of modules and projects you can use to extend your application.</p>

                    <p>Swap out templating engines, plug in permission systems, different databases or mix them together
                        any way you want.
                    </p>
                </div>
            </div>

        </div>
    </section>

{% endblock %}
