{% extends './layout/home.html' %} {% block content %}
  <section id="main">

  <section class="section-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Pyramid development environments</h1>
          <p>"Development environments" are packages which use Pyramid as a core, but offer alternative services and scaffolding. Each development environment presents a set of opinions and a "personality" to its users. Although users of a development environment can still use all of the services offered by the Pyramid core, they are usually guided to a more focused set of opinions offered by the development environment itself. Development environments often have dependencies beyond those of the Pyramid core.</p>

          <h3>
            <a href="http://docs.pylonsproject.org/projects/akhet/en/latest/">Akhet</a>
          </h3>
          <p>
            A Pyramid library and demo application with a Pylons-like feel. Its most known for its former application scaffold, which helped users transition from Pylons and those preferring a more Pylons-like API. The scaffold has been retired but the demo plays a similar role.
          </p>
          <ul>
            <li>Maintained by: Mike Orr</li>
            <li>Version Control:
              <a href="https://github.com/Pylons/akhet">https://github.com/Pylons/akhet</a>
            </li>
          </ul>


          <h3><a href="http://khufuproject.github.com/">Khufu Project</a></h3>
          <p>Khufu is an application scaffolding for Pyramid that provides an environment to work with Jinja2 and SQLAlchemy.</p>
          <ul>
            <li>Maintained by: Rocky Burt</li>
            <li>Version Control:
              <a href="https://github.com/khufuproject">https://github.com/khufuproject</a>
            </li>
          </ul>

          <h3><a href="http://kotti.pylonsproject.org/">Kotti</a></h3>
          <p>Kotti is a high-level, Pythonic web application framework. It includes an extensible Content Management System called the Kotti CMS, offering all the features you would expect from a modern CMS.</p>
          <ul>
            <li>Version Control:
              <a href="https://github.com/Kotti/Kotti">https://github.com/Kotti/Kotti</a>
            </li>
          </ul>

          <h3><a href="https://nefertari.readthedocs.org/">Nefertari</a></h3>
          <p>Nefertari is a REST API framework for Pyramid that uses ElasticSearch for reads and either MongoDB or Postgres for writes. It provides an interface to ElasticSearch's
            <a href="https://www.elastic.co/guide/en/elasticsearch/reference/1.x/query-dsl-queries.html">Query String DSL</a> for full text search.
          </p>
          <ul>
            <li>Version Control:
              <a href="https://github.com/brandicted/nefertari">https://github.com/brandicted/nefertari</a>
            </li>
          </ul>

          <h3>
            <a href="http://cms.nive.co/">Nive CMS</a>
          </h3>
          <p>Nive is a new, "out of the box", open source content management system based on the programming language Python and the Pyramid web framework.</p>
          <ul>
            <li>Version Control:
              <a href="https://github.com/nive/nive_cms">https://github.com/nive/nive_cms</a>
            </li>
          </ul>

          <h3>
            <a href="http://ptahproject.readthedocs.org/en/latest/">Ptah</a>
          </h3>
          <p>Ptah is a fast, fun, open source, high-level Python web development environment.</p>
          <ul>
            <li>Version Control:
              <a href="https://github.com/ptahproject/ptah">https://github.com/ptahproject/ptah</a>
            </li>
          </ul>

          <h3>
            <a href="http://pyramid-sacrud.readthedocs.org/en/latest/">pyramid_sacrud</a>
          </h3>
          <p>Pyramid CRUD interface. Provides an administration web interface for Pyramid. Unlike classic CRUD, pyramid_sacrud allows overrides and flexibility to customize your interface, similar to django.contrib.admin, but uses a different backend to provide resources. <a href="http://pyramid-sacrud.readthedocs.org/en/latest/pages/contribute/architecture.html">New Architecture</a> built on the resources and mechanism traversal, allows use in various cases.</p>
          <ul>
            <li>Version Control:
              <a href="https://github.com/sacrud/pyramid_sacrud">https://github.com/sacrud/pyramid_sacrud</a>
            </li>
          </ul>

          <h3><a href="https://ramses.readthedocs.org/">Ramses</a></h3>
            <p>Ramses is a library that generates a RESTful API using
              <a href="http://raml.org">RAML</a>. It uses Pyramid and
              <a href="https://nefertari.readthedocs.org/">Nefertari</a> which
              provides ElasticSearch-powered views.
            </p>
          <ul>
            <li>Version Control:
              <a href="https://github.com/brandicted/ramses">https://github.com/brandicted/ramses</a>
            </li>
          </ul>

          <h3><a href="http://www.ringo-framework.org">Ringo</a></h3>
          <p>Ringo is an extensible high-level web application framework with strength in building form based management or administration software, providing ready to use components often needed in web applications.</p>
          <ul>
            <li>Version Control:
              <a href="https://github.com/ringo-framework/ringo">https://github.com/ringo-framework/ringo</a>
            </li>
          </ul>

          <h3><a href="http://substanced.net/">Substance-D</a><img alt="Substance D" src="img/substance-d-logo.png"></h3>
          <p>An application server built upon the Pyramid web framework. It provides a user interface for managing content as well as libraries and utilities which make it easy to create applications.</p>
          <ul>
            <li>Version Control:<a href="https://github.com/Pylons/substanced">https://github.com/Pylons/substanced</a></li>
            <li><a href="http://demo.substanced.net/">Demonstration</a></li>
          </ul>

          <h3><a href="https://websauna.org/">Websauna</a></h3>
          <p>Websauna is a Python package and application framework for developing custom consumer and business web services. It emphasises meeting business requirements with reliable delivery times, responsiveness, consistency in quality, security and high data integrity. A low learning curve, novice friendliness and polished documentation help less seasoned developers to get their first release out quickly.</p>
          <ul>
            <li>Version Control:
              <a href="https://github.com/websauna/websauna">https://github.com/websauna/websauna</a>
            </li>
          </ul>

          <h3><a href="https://github.com/sernst/Ziggurat">Ziggurat</a></h3>
          <p>A bundled application framework for data driven Pyramid project development.</p>
          <ul>
            <li>Version Control:
              <a href="https://github.com/sernst/Ziggurat">https://github.com/sernst/Ziggurat</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </section>
{% endblock %}
