<footer id="footer">
  <div class="container">
    <div class="row">
      <p>
        © Copyright 2008-<%= new Date().getFullYear() %>, <a href="http://agendaless.com/"><strong>Agendaless Consulting</strong></a>
        <br/>
        <a href="http://www.pylonsproject.org/"><strong>Pylons Project</strong></a> | Build <%= webpack.hash %>
      </p>
      <p>
        <a href="https://www.linode.com/?utm_source=referral&utm_medium=website&utm_content=[Pyramid]&utm_campaign=sponsorship" target="_blank">
          Sponsored by <strong>Linode</strong>
        </a>
      </p>
    </div>
  </div>
</footer>
