<% options = htmlWebpackPlugin.options %>
<% context = options.context %>
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><% if (context.index_page) { %>Welcome to Pyramid, a Python Web Framework<% } else { %><%= context.title %> | Pyramid<% } %>
  </title>
  <meta name="description" content="Pyramid is a lightweight Python web framework aimed at taking small web apps into big web apps. This site provides an easy entry point into Pyramid.">
  <meta name="keywords" content="pyramid, web framework, python web framework, pyramid web framework, python, pylons, pylons project, open source">
  <meta name="author" content="Pylons Project">
  <link rel="shortcut icon" href="img/pyramid-16x16.png"/>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-21146943-3', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body>
  <div id="pace-loader"></div>
  <section class="app">
    <%- include nav %>
    <div id="main">
