// Layout Footer

footer#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: $zindex-1000;
  height: $footer-height;
  background-color: $footer-background-color;
  color: $color-light;
  .navbar-text {
    font-size: 12px;
  }
  .navbar-right {
    margin-right: 0;
  }
}

@media (max-width: $screen-xs-max) {
  footer#footer {
    padding: 15px;
    height: auto;
    .navbar-text {
      text-align: center;
      margin: 0;
    }
  }
}
