// Layout Footer

footer#footer {
  height: $footer-height;
  background-color: $footer-background-color;
  color: $color-light;
  font-size: 12px;
  text-align: center;
  padding: 15px;
  p {
    margin-bottom: 9px;
  }
  a {
    color: $white;
  }
}
