// Layout Header

header#header {
  position: relative;
  display: block;
  background-color: $header-background-color;
  border-bottom: $color-light 1px solid;
  //@include box-shadow(0 0px 5px $color-light);
  a {
    color: $text-color;
  }
  .navbar-nav {
    &.navbar-left {
      margin-left: 0;
    }
    &.navbar-right {
      margin-right: 0;
    }
  }
}
