// Layout Nav

nav#nav {
  height: $nav-height;
  background-color: $nav-background-color;
  z-index: 1000;
  &.show {
    display: block;
  }
  &.index-transparent {
    padding: 15px 0;
    color: $white;
    background-color: $tpc-transparent;
    border: 1px solid $tpc-transparent;
    .navbar-brand, .navbar-brand-name {
      opacity: 0;
      @include transition(0);
    }
    .navbar-nav li > a {
      color: $white;
    }
  }
  padding: 0;
  @include transition(250ms);

  .navbar-brand, .navbar-brand-name {
    opacity: 1;
    @include transition(0);
  }
  .navbar-brand {
    height: 90px;
  }
}

@media (max-width: $screen-sm-max) {
  nav#nav {
    &.index-transparent {
      .navbar-nav li > a {
        color: $tpc-red;
      }
    }
    background-color: $white;
    color: $tpc-red;
    opacity: 0.95;
  }
}
