// Layout Nav

nav#nav {
  height: $nav-height;
  background-color: $nav-background-color;
  z-index: 1000;
  &.show {
    display: block;
  }
  &.index-transparent {
    .navbar {
      padding: 15px 0;
      color: $white;
      background-color: $tpc-transparent;
      border: 1px solid $tpc-transparent;
      .navbar-brand, .navbar-brand-name {
        opacity: 0;
        @include transition(0);
      }
      .navbar-nav li > a {
        color: $white;
      }
    }
  }
  .navbar{
    padding: 0;
    @include transition(250ms);
    .navbar-brand, .navbar-brand-name {
      opacity: 1;
      @include transition(0);
    }
    .navbar-brand {
      height: 90px;
    }
  }
  .navbar-inverse {
    background-color: $nav-background-color;
    border: 1px solid $color-light;
    img.logo {
      width: 60px;
    }
    .navbar-toggle {
      margin-top: 30px;
      border: none;
      &:hover {
        background-color: darken($color-light, 10%);
      }
    }
    // .navbar-collapse {
    //   border-top: 1px solid darken($color-light, 10%);
    // }
    .navbar-nav {
      li {
        line-height: 20px;
        padding: 25px 5px;
        > a {
          color: $tpc-red;
          font-size: 14px;
          text-transform: Capitalize;
          font-weight: 600;
          padding: 10px 15px;
        }
        > ul.dropdown-menu {
          top: 85%;
          li {
            padding: 0px;
            a {
              color: $tpc-red;
              font-size: 12px;
              padding: 5px 15px;
              &:hover {
                color: $white;
                background-color: darken($tpc-red, 5%);
              }
            }
          }
        }
      }
      .open > a {
        color: $white;
        background-color: darken($tpc-red, 10%);
      }
      > .active > a {
        color: $white;
        background-color: darken($tpc-red, 10%);
        &:hover {
          background-color: darken($tpc-red, 5%);
        }
      }
    }
    .navbar-brand-name {
      position: relative;
      color: $tpc-red;
      font-size: 32px;
      line-height: $nav-height;
      width: 220px;
      height: $nav-height;
      text-align: right;
      small {
        font-size: 12px;
        line-height: 10px;
      }
    }
  }
}

@media (max-width: $screen-xs-max) {
  nav#nav {
    .navbar-inverse {
      .navbar-collapse {
        .navbar-nav {
          float: left!important;
        }
      }
    }
  }
}
