<footer id="footer">
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
      <li>
        <div class="navbar-text">
          © Copyright 2008-2015, <a href="http://agendaless.com/">Agendaless Consulting</a>
        </div>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <div class="navbar-text">
          <a href="http://www.pylonsproject.org/">Pylons Project</a> | <strong>Build</strong> {{webpack.hash}}
        </div>
      </li>
    </ul>
  </div>
</footer>
