<footer id="footer">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a class="text-light-darker">
          <i class="fa fa-html5"></i>
        </a>
      </li>
      <li>
        <a class="text-light-darker">
          <i class="fa fa-css3"></i>
        </a>
      </li>
      <li>
        <a class="text-light-darker">
          <i class="fa fa-github"></i>
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <div class="navbar-text">
          <strong>Pylons</strong> Project| <strong>Build</strong> {{webpack.hash}}
        </div>
      </li>
    </ul>
  </div>
</footer>
