<nav id="nav" {% if page.needsTsNav %}class="index-transparent"{% endif %}>
  <div class="container">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img class="logo" alt="pyramid" src="img/pyramid-60x60.png"/>
          </a>
          <div class="navbar-brand-name">
            Pyramid
          </div>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav pull-right">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/resources.html">Resources</a>
            </li>
          </ul>
        </div>
      </div>
  </div>
</nav>
