{{ range sort $.Site.Data.addons "name" }}
<div class="grid-item col-xs-12 col-sm-6 col-md-4 pyramid-item support-{{ .support }}{{ range .category }} category-{{ . }}{{ end }} addon-{{ if .addon }}yes{{ else }}no{{ end }}">
  <div class="grid-item-content">
    <h4>{{ .name }}</h4>
    <div class="addon-description">{{ .description | safeHTML }}</div>
    {{ if gt (len .maintainers) 0 }}
    <div class="addon-maintainers">
      Maintainers: {{ delimit .maintainers ", " }}
    </div>
    {{ end }}
    {{ if .projectUrl }}
    <span class="addon-projectUrl"><a href="{{ .projectUrl | safeURL }}">Home</a></span>
    {{ end }}
    {{ if .pypiUrl }}
    <span class="addon-pypiUrl"><a href="{{ .pypiUrl | safeURL }}">PyPI</a></span>
    {{ end }}
    {{ if .vcsUrl }}
    <span class="addon-vcsUrl"><a href="{{ .vcsUrl | safeURL }}">VCS</a></span>
    {{ end }}
    {{ if .docsUrl }}
    <span class="addon-docsUrl"><a href="{{ .docsUrl | safeURL }}">Docs</a></span>
    {{ end }}
    {{ if .demoUrl }}
    <span class="addon-demoUrl"><a href="{{ .demoUrl | safeURL }}">Demo</a></span>
    {{ end }}
  </div>
</div>
{{ end }}
