// Module Extending Pyramid

.extending-filters {
  padding: 1rem 0;
  .filter-multiselect {}
}

.multiselect-container {
  &.dropdown-menu {
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: $zindex-10000;
    > .active > a, > .active > a:hover, > .active > a:focus {
      background-color: $tpc-red;
      outline: none;
    }
  }
}
