// Module Extending Pyramid

.extending-filters {
  padding: 1rem 0;
  .filter-multiselect {}
}

.grid-item {
  margin-bottom: 15px;
  padding-left: 0;
  font-size: 14px;
  .grid-item-content {
    border: 1px solid $color-light;
    padding: 10px;
    h4 {
      margin-top: 0;
    }
  }
}

.multiselect-container {
  &.dropdown-menu {
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: $zindex-10000;
    > .active > a, > .active > a:hover, > .active > a:focus {
      background-color: $tpc-red;
      outline: none;
    }
  }
}
