// Module Home

.hero-header {
  padding: $block-padding-ends $block-padding-sides;
}

.try-pyramid {
  padding: $block-padding-ends $block-padding-sides;
}

.need-pyramid {
  padding: $block-padding-ends $block-padding-sides;
}

.start-small {
  padding: $block-padding-ends $block-padding-sides;
}

.finish-big {
  padding: $block-padding-ends $block-padding-sides;
}

.stay-finished {
  padding: $block-padding-ends $block-padding-sides;
}

.supports-your-decisions {
  padding: $block-padding-ends $block-padding-sides;
}

.by-artisans-for-artisans {
  padding: $block-padding-ends $block-padding-sides;
}
