// Module Home

.home {
  padding-bottom: $footer-height;
  h1.title {
    margin: 0 0 1em 0;
    font-size: 3em;
    font-weight: 300;
  }
  h3.title {
    margin-top: 0;
  }
  ul.features {
    font-size: 16px;
    margin: 0;
    padding: 0 0 10px 20px;
    li {
      list-style-type: none;
      margin: 15px 0;
      &:before {
        font-family: 'FontAwesome';
        content: '\f101';
        margin:0 10px 0 -20px;
        color: $tpc-red;
      }
      &:first-child {
        margin: 0 0 15px;
      }
    }
  }
  .icon-block {
    text-align: center;
    margin-top: 25px;
  }
  .hero-header {
    padding: $block-padding-ends+25 $block-padding-sides;
    background-color: $tpc-red;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 850px;
    color: lighten($tpc-red, 40%);
    a {
      color: $white;
    }
    .tagline {
      h1 {
        font-size: 3em;
        font-weight: 300;
        line-height: 130%;
        margin-top: 0;
        .emphasis {
          color: $white;
          font-weight: 400;
          &.title {
            font-size: 145%;
          }
        }
      }
    }
  }

  .try-pyramid {
    padding: $block-padding-ends $block-padding-sides;
    .hljs {
      background-color: $color-light;
    }
  }

  .need-pyramid {
    padding: $block-padding-ends $block-padding-sides;
    background-color: darken($tpc-green, $dark-percent);
    color: lighten($tpc-beige, $lighter-percent);
    font-size: 16px;
    //background-image: url('../img/avatars.png');
    //background-attachment: fixed;
    h1.title {
      color: lighten($tpc-beige, $lighter-percent);
    }
    .feature {
      font-size: 24px;
    }
  }

  .start-small {
    padding: $block-padding-ends $block-padding-sides;
  }

  .finish-big {
    padding: $block-padding-ends $block-padding-sides;
    background-color: $tpc-beige;
  }

  .stay-finished {
    padding: $block-padding-ends $block-padding-sides;
  }

  .supports-your-decisions {
    padding: $block-padding-ends $block-padding-sides;
    background-color: $tpc-beige;
  }

  .by-artisans-for-artisans {
    padding: $block-padding-ends $block-padding-sides;
  }

}
