// Module Home

#nav{
  &.index-transparent{
    .navbar{
      background-color: transparent;
      border: 1px solid transparent;
      .navbar-brand, .navbar-brand-name{
        display: none;
      }
    }
  }
}

.home {
  padding-bottom: $footer-height;
  margin-top: -110px;
  h1.title {
    margin: 0 0 1em 0;
    font-size: 3em;
    font-weight: 300;
  }
  h3.title {
    margin-top: 0;
  }
  .hero-header {
    padding: $block-padding-ends+25 $block-padding-sides;
    background-color: $tpc-red;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 850px;
    color: lighten($tpc-red, 40%);
    a {
      color: $white;
    }
    .tagline {
      h1 {
        font-size: 3em;
        font-weight: 300;
        line-height: 130%;
        margin-top: 0;
        .emphasis {
          color: $white;
          font-weight: 400;
          &.title {
            font-size: 145%;
          }
        }
      }
    }
  }
  .try-pyramid {
    padding: $block-padding-ends $block-padding-sides;
    .hljs {
      background-color: $color-light;
    }
  }
  .need-pyramid {
    padding: $block-padding-ends $block-padding-sides;
    background-color: darken($tpc-green, $dark-percent);
    color: lighten($tpc-beige, $lighter-percent);
    //background-image: url('../img/avatars.png');
    //background-attachment: fixed;
    h1.title {
      color: lighten($tpc-beige, $lighter-percent);
    }
    .feature {
      font-size: 24px;
    }
  }
  .section-content {
    padding: $block-padding-ends $block-padding-sides;
    ul.features {
       margin: 0;
      padding: 10px 20px;
      li {
        list-style-type: none;
        margin: 5px 0;
        &:before {
          font-family: 'FontAwesome';
          content: '\f0da';
          margin:0 14px 0 -20px;
          color: $tpc-red;
        }
        &:first-child {
          margin: 0 0 5px;
        }
      }
    }
    .icon-block {
      text-align: center;
      margin-top: 25px;
    }
    &.section-beige {
      background-color: $tpc-beige;
      ul.features {
        li {
          &:before {
            color: darken($tpc-green, $dark-percent);
          }
        }
      }
    }
  }
}

@media (max-width: $screen-sm-max) {
  .home {
    h1.title {
      &.not-first {
        margin-top: 1em;
      }
    }
  }
}
