// Module Home

.home {
  padding-bottom: $footer-height;
  h1.title {
    margin: 0 0 1em 0;
    font-size: 3em;
    font-weight: 300;
  }
  h3.title {
    margin-top: 0;
  }
  .icon-block {
    text-align: center;
    margin-top: 75px;
  }
  .hero-header {
    padding: $block-padding-ends $block-padding-sides;
    background-color: $tpc-red;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 850px;
    color: lighten($tpc-red, 40%);
    a {
      color: $white;
    }
    .tagline {
      h1 {
        font-size: 3em;
        font-weight: 300;
        line-height: 130%;
        .emphasis {
          color: $white;
          font-weight: 400;
          text-transform: uppercase;
          font-size: 115%;
        }
      }
    }
    .elevator-speech {
      font-size: 14px;
    }
  }

  .try-pyramid {
    padding: $block-padding-ends $block-padding-sides;
  }

  .need-pyramid {
    padding: $block-padding-ends $block-padding-sides;
    background-color: darken($tpc-green, 20%);
    text-align: center;

    //padding: 50px 0;
    //margin: 50px 0;
    color: $white;
    //background-color: $color-brand2;
    background-image: url('../img/avatars.png');
    background-attachment: fixed;
    h1.title {
      color: $white;
    }
    }

  .start-small {
    padding: $block-padding-ends $block-padding-sides;
  }

  .finish-big {
    padding: $block-padding-ends $block-padding-sides;
    background-color: $tpc-beige;
  }

  .stay-finished {
    padding: $block-padding-ends $block-padding-sides;
  }

  .supports-your-decisions {
    padding: $block-padding-ends $block-padding-sides;
    background-color: $tpc-beige;
  }

  .by-artisans-for-artisans {
    padding: $block-padding-ends $block-padding-sides;
  }

}
